// -----------------
// Self Intro Section
.self-intro-section{
    overflow: visible;
    background-size: 500%;
    background-repeat: no-repeat;
    background-position: 40% 70%;
    background-image: url(../../media/spread.svg);
}

.self-intro-section h1{
    max-width: 890px;
}

.self-intro-section .p{
    max-width: 480px;
}

.gallery{
    width: 100%;
    max-width: 890px;
    gap: 12px;
}

.gallery-placeholder{
    flex: 1 0 0;
    height: 200px;  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.gp1{
    background-image: url(../../media/creativeguy.png);
}

.gp2{
    background-image: url(../../media/photographer.png);
}

.gp3{
    background-image: url(../../media/family.png);
}

.gallery .badge{
    position: absolute;
    bottom: 8px;
    left: 8px;
}

.self-intro-section .p{
    color: $secondary-200;
}

.self-intro-section .btn-gp{
    gap: 12px;
}

@media (min-width:577px) {
    .gallery-placeholder{
        height: 320px;  
    }
}

@media (min-width:769px) {
    .gallery-placeholder{
        height: 360px;  
    }
}

@media (min-width:1025px) {
    
}

@media (min-width:1200px) {
    .gallery-placeholder{
        height: 360px;
    }
    .self-intro-section .p{
        max-width: 662px;
    }
}


// ------------------
// Skillset Section

.skillset-section{
    background-color: $secondary-850;
}

.skillset-section .tab-list{
    width: 100%;
    max-width: 890px;
}

.skillset-section .tab-list .tab{
    padding: 12px;
    border-radius: 2px;
    background-color: $secondary-800;
    color: $secondary-400;
    font-weight: 300;
    flex: 1 0 0;
    text-align: center;
}

.skillset-section .tab-list .tab:hover{
    background-color: $secondary-700;
    color: $secondary-100;
}

.skillset-section .tab-list .tab.active{
    color: $secondary-900;
    background-color: $primary-600;
    font-weight: 400;
}

.skillset-section .tool-list{
    display: none;
    max-height: 640px;
    overflow: hidden;
    overflow-y: scroll;
}

.skillset-section .tool-list.active{
    display: grid;
}

.skillset-section .tool-list .tool{
    position: relative;
    background-color: $secondary-800;
    width: 100%;
}
.skillset-section .tool-list .tool .tool-img{
    width: 64px;
    height: 64px;
    background-size: cover;
}

.skillset-section .tool-list .badge{
    position: absolute;
    top:16px;
    right: 16px;
}

.skillset-section .tool-list h4{
    text-align: center;
}

.skillset-section .tool-list li{
    color: $secondary-300;
    text-align: center;
}

// Visual Tool List IMAGES
.skillset-section .tool-list.visuals .tool-1{
    background-image: url(../../media/icons/figma.png);
}
.skillset-section .tool-list.visuals .tool-2{
    background-image: url(../../media/icons/ps.png);
}
.skillset-section .tool-list.visuals .tool-3{
    background-image: url(../../media/icons/lottie.png);
}
.skillset-section .tool-list.visuals .tool-4{
    background-image: url(../../media/icons/ai.png);
}
.skillset-section .tool-list.visuals .tool-5{
    background-image: url(../../media/icons/pr.png);
}
.skillset-section .tool-list.visuals .tool-6{
    background-image: url(../../media/icons/rive.png);
}

// Web Dev. Tool List IMAGES
// Visual Tool List IMAGES
.skillset-section .tool-list.dev .tool-1{
    background-image: url(../../media/icons/wp.png);
}
.skillset-section .tool-list.dev .tool-2{
    background-image: url(../../media/icons/elementor.png);
}
.skillset-section .tool-list.dev .tool-3{
    background-image: url(../../media/icons/webflow.png);
}
.skillset-section .tool-list.dev .tool-4{
    background-image: url(../../media/icons/bootstrap.png);
}
.skillset-section .tool-list.dev .tool-5{
    background-image: url(../../media/icons/shopify.png);
}
.skillset-section .tool-list.dev .tool-6{
    background-image: url(../../media/icons/cyberbiz.png);
}
.skillset-section .tool-list.dev .tool-7{
    background-image: url(../../media/icons/shopline.png);
}

@media (min-width:577px){
    .skillset-section .tool-list{
        display: none;
        max-height: none;
        overflow: visible;
    }
    .skillset-section .tool-list .tool .tool-img{
        width: 100%;
        max-width: 32px;
        height: 32px;
    }
    .skillset-section .tool-list li, .skillset-section .tool-list h4{
        text-align: start;
    }
}

@media (min-width:769px) {
    .divider{
        width: 80px;
        height: 1.5px;
        background: center center / cover no-repeat url(../../media/divider.svg);
    }
    .skillset-section .tool-list li{
        padding-left: 12px;
        background: left 9px / 4px no-repeat url(../../media/icons/custom-list-disc.svg);
        margin-bottom: 6px;
    }
}

@media (min-width:1025px) {
    
}

@media (min-width:1200px){
    .skillset-section .tool-list li{
        background: left 12px / 4px no-repeat url(../../media/icons/custom-list-disc.svg);
    }
    .divider{
        width: 120px;
        height: 2px;
    }
}

// -----------
// Journey Section
.journey-section .swiper{
    width: 100%;
}
.journey-section .swiper-wrapper{
    padding-bottom: 32px;
    align-items: stretch;
}
.journey-section .swiper-slide {
    display: flex;
    height: auto;
}
.journey {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.journey-section .swiper-button-prev{
    position: static;
    height: 40px;
    width: 40px;
    background: center center / cover no-repeat url(../../media/icons/swiper-btn-left.svg);
}
.journey-section .swiper-button-next{
    position: static;
    height: 40px;
    width: 40px;
    background: center center / cover no-repeat url(../../media/icons/swiper-btn-right.svg);
}
.journey-section .swiper-button-prev:hover{
    background: center center / cover no-repeat url(../../media/icons/swiper-btn-left-hover.svg);
}
.journey-section .swiper-button-next:hover{
    background: center center / cover no-repeat url(../../media/icons/swiper-btn-right-hover.svg);
}
.journey-section .swiper-button-prev:active{
    background: center center / cover no-repeat url(../../media/icons/swiper-btn-left-on.svg);
}
.journey-section .swiper-button-next:active{
    background: center center / cover no-repeat url(../../media/icons/swiper-btn-right-on.svg);
}
.journey-section .swiper-pagination{
    bottom: 0px;
}
.journey-section .swiper-pagination-bullet{
    background-color: $secondary-200;
}
.journey-section .swiper-pagination-bullet-active{
    background-color: $primary-700 ;
}

.journey{
    background-color: $secondary-850;
    border-radius: 4px;
}

.journey-section .photo{
    width: 100%;
    height: 160px;
    margin-bottom: 24px;
    border-radius: 1px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.journey-section .photo.pier{
    background-image: url(../../media/pier.png);
}
.journey-section .photo.inwell{
    background-image: url(../../media/in-well.png);
}
.journey-section .photo.spotx{
    background-image: url(../../media/spotx-studio.png);
}
.journey-section .photo.tcoc{
    background-image: url(../../media/tcoc.png);
}

.journey-section .job-desc .icon{
    height: 40px;
    min-width: 40px;
    max-width: 40px;
    background: center center / cover no-repeat url(../../media/icons/jobDesc.svg);
}

.journey-section .achieve .icon{
    height: 40px;
    min-width: 40px;
    max-width: 40px;
    background: center center / cover no-repeat url(../../media/icons/skills.svg);
}

.journey-section .cover .p{
    color: $secondary-400;
}

.journey-section li{
    color: $secondary-300;
    padding-left: 12px;
    background: left 9px / 4px no-repeat url(../../media/icons/custom-list-disc.svg);
}

.journey-section .show .icon{
    height: 16px;
    width: 16px;
    background: center center / cover no-repeat url(../../media/icons/arrow-grey.svg);
    transform: rotate(90deg);
    transition: all ease-out 300ms;
}

.journey-section .journey-details{
    display: none;
    height: 0px;
    transition: all ease-out 300ms;
}

.journey-section .journey-details.active{
    display: flex;
    height: fit-content;
    transition: all ease-out 300ms;
}

.journey-section .journey-details .p{
    color: $secondary-300;
}

.journey-section .show .icon.active{
    transform: rotate(270deg);
    transition: all ease-out 300ms;
}

@media (min-width:769px) {
    .journey{
        gap: 16px;
        background-color: transparent;
    }
    .journey-section .cover{
        width: 45%;
        max-width: 400px;
        padding: 20px;
        background-color: $secondary-850;
    }
    .journey-section .photo{
        height: 100%;
    }
    .journey-section .overview{
        flex: 1 1 0;
        background-color: $secondary-850;
    }
    .journey-section .journey-details{
        display: flex;
        height: 160px;
    }
    .journey-section .journey-details .p{
        overflow-y: scroll;
    }
}

@media (min-width:1200px) {
    .journey-section .cover{
        padding: 40px;
        max-width: 480px;
    }
    .journey-section .journey-details{
        display: flex;
        height: 240px;
    }
    .journey-section .job-desc .icon, .journey-section .achieve .icon{
        height: 48px;
        width: 48px;
    }
}