// -----------------
// Self Intro Section
.self-intro-section{
    overflow: visible;
    background-size: 100%;
    background-position: center;
    background-image: url(../../media/spread.svg);
}

.gallery{
    width: 100%;
    gap: 12px;
}

.gallery-placeholder{
    flex: 1 0 0;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.gp1{
    background-image: url(../../media/creativeguy.png);
}

.gp2{
    background-image: url(../../media/photographer.png);
}

.gp3{
    background-image: url(../../media/family.png);
}

.gallery .badge{
    position: absolute;
    bottom: 8px;
    left: 8px;
}

.self-intro-section .p{
    color: $secondary-200;
}

@media (min-width:577px) {
    
}

@media (min-width:769px) {
    
}

@media (min-width:1025px) {
    
}

@media (min-width:1200px) {
    
}


// ------------------
// Skillset Section

.skillset-section{
    background-color: $secondary-850;
}

.skillset-section .tab-list{
    width: 100%;
}

.skillset-section .tab-list .tab{
    padding: 12px;
    border-radius: 2px;
    background-color: $secondary-800;
    color: $secondary-200;
    font-weight: 300;
    flex: 1 0 0;
    text-align: center;
}

.skillset-section .tab-list .tab.active{
    color: $secondary-850;
    background-color: $primary-600;
    font-weight: 400;
}

.skillset-section .tool-list{
    display: none;
    max-height: 640px;
    overflow: hidden;
    overflow-y: scroll;
}

.skillset-section .tool-list.active{
    display: grid;
}

.skillset-section .tool-list .tool{
    position: relative;
    background-color: $secondary-800;
    width: 100%;
}

.skillset-section .tool-list .tool .tool-img{
    width: 64px;
    height: 64px;
    background-size: cover;
}

.skillset-section .tool-list .badge{
    position: absolute;
    top:16px;
    right: 16px;
}

.skillset-section .tool-list h4{
    text-align: center;
}

.skillset-section .tool-list li{
    color: $secondary-300;
    text-align: center;
}

.skillset-section .tool-list .tool .tool-1{
    background-image: url(../../media/icons/figma.png);
}

.skillset-section .tool-list .tool .tool-2{
    background-image: url(../../media/icons/ps.png);
}

.skillset-section .tool-list .tool .tool-3{
    background-image: url(../../media/icons/lottie.png);
}

.skillset-section .tool-list .tool .tool-4{
    background-image: url(../../media/icons/ai.png);
}

.skillset-section .tool-list .tool .tool-5{
    background-image: url(../../media/icons/pr.png);
}

.skillset-section .tool-list .tool .tool-6{
    background-image: url(../../media/icons/rive.png);
}

@media (min-width:577px){
    .skillset-section .tool-list{
        display: none;
        max-height: none;
        overflow: visible;
    }
    .skillset-section .tool-list .tool .tool-img{
        width: 100%;
        max-width: 32px;
        height: 32px;
    }
    .skillset-section .tool-list li, .skillset-section .tool-list h4{
        text-align: start;
    }
    .skillset-section .tool-list li{
        padding-left: 12px;
        background: left 9px / 4px no-repeat url(../../media/icons/custom-list-disc.svg);
    }
}

@media (min-width:1200px){
    .skillset-section .tool-list li{
        background: left 12px / 4px no-repeat url(../../media/icons/custom-list-disc.svg);
    }
}