.case-box{
    position: relative;
    height: 320px;
    padding: 16px;
    border-radius: 4px;
}
.time{
    position: absolute;
    bottom: 16px;
    right: 16px;
    transition: all ease-out 300ms;
}
.case-box .badge-list{
    transition: all ease-out 300ms;
}
.case-box .badge{
    width: fit-content;
}
.case-box .btn-box{
    display: flex;
    gap: 16px;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    transition: transform ease-out 300ms;
}

.case-box .prj-name, .case-box .company-name{
    transition: all ease-out 300ms;
}

.case-box .company-name{
    color: $secondary-400;
}

// Case Cover Photos
.case-box.uneo{
    background: center center / cover no-repeat url(../../media/uext/pc_sm.webp);
    
    @media (min-width:577px) {
        background: center center / cover no-repeat url(../../media/uext/pc_md.webp);
    }
    @media (min-width:769px) {
        background: center center / cover no-repeat url(../../media/uext/pc_lg.webp);
    }
    @media (min-width:1025px) {
        background: center center / cover no-repeat url(../../media/uext/pc_xl_r.webp);
    }
}
.case-box.acrox{
    background: center center / cover no-repeat url(../../media/acrox/pc_sm.webp);
    
    @media (min-width:577px) {
        background: center center / cover no-repeat url(../../media/acrox/pc_md.webp);
    }
    @media (min-width:769px) {
        background: center center / cover no-repeat url(../../media/acrox/pc_lg.webp);
    }
    @media (min-width:1025px) {
        background: center center / cover no-repeat url(../../media/acrox/pc_xl_s.webp);
    }
}
.case-box.churchplus{
    background: center center / cover no-repeat url(../../media/churchplus/pc_sm.webp);
    
    @media (min-width:577px) {
        background: center center / cover no-repeat url(../../media/churchplus/pc_md.webp);
    }
    @media (min-width:769px) {
        background: center center / cover no-repeat url(../../media/churchplus/pc_lg.webp);
    }
    @media (min-width:1025px) {
        background: center center / cover no-repeat url(../../media/churchplus/pc_xl_s.webp);
    }
}
.case-box.zot{
    background: center center / cover no-repeat url(../../media/zot/pc_sm.webp);
    
    @media (min-width:577px) {
        background: center center / cover no-repeat url(../../media/zot/pc_md.webp);
    }
    @media (min-width:769px) {
        background: center center / cover no-repeat url(../../media/zot/pc_lg.webp);
    }
    @media (min-width:1025px) {
        background: center center / cover no-repeat url(../../media/zot/pc_xl_r.webp);
    }
}
.case-box.tcoc{
    background: center center / cover no-repeat url(../../media/tcoc/pc_sm.webp);
    
    @media (min-width:577px) {
        background: center center / cover no-repeat url(../../media/tcoc/pc_md.webp);
    }
    @media (min-width:769px) {
        background: center center / cover no-repeat url(../../media/tcoc/pc_lg.webp);
    }
    @media (min-width:1025px) {
        background: center center / cover no-repeat url(../../media/tcoc/pc_xl_r.webp);
    }
}


// Case Preview Box
.case-preview{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    background-color: $secondary-800;
    padding: 32px 24px 24px 24px;
    border-radius: 4px 4px 0 0;
    margin: 0 auto;
    max-width: 1366px;
    max-height: 80vh;
    height: auto;
    z-index: 9999;
    transform: translateY(120%);
    transition: transform 300ms ease;
}

.case-preview.show{
    transform: translateY(0);
    transition: transform 300ms ease;
}

.case-preview .gallery{
    overflow: hidden;
    overflow-x: auto;
    gap: 20px;
}

.case-preview .gallery::-webkit-scrollbar {
    height: 3px;
}

.case-preview .gallery picture{
    min-width: 280px;
}

.case-preview .gallery img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.case-preview .brief{
    color: $secondary-200;
}

.case-preview .divider{
    height: 1.5px;
    background-image: url(../../media/divider-light.svg);
}

.case-preview .checklist-icon{
    width: 24px;
    height: 24px;
    margin-right: 16px;
}
.case-preview .brief{
    color: $secondary-500;
}

.case-preview li span{
    color: $secondary-200;
}

.case-preview .consultation{
    color: $secondary-200;
}

.case-preview .btn{
    flex: 1 1 0;
    width: auto;
}
.case-preview .close{
    position: absolute;
    right: 8px;
    top: 8px;
    height: 44px;
    width: 44px;
    background: center center / cover no-repeat url(../../media/icons/close-gray.svg);
}
.case-preview .close:hover{
    cursor: pointer;
    background: center center / cover no-repeat url(../../media/icons/close-gray-hover.svg);
}

@media (min-width:577px) {
    .case-box{
        height: 320px;
        padding: 20px;
    }
    .time{
        top: 20px;
        right: 20px;
    }
}

@media (min-width:769px) {
    .case-box{
        height: 360px;
    }
    .case-section .section-title h2, .case-section .section-title .p{
        text-align: center;
    }
    .case-preview{
        max-height: 50vh;
        gap: 40px;
    }
    .case-preview .gallery{
        width: 340px;
        flex-direction: column;
        overflow-y: auto;
    }
    .gallery picture{
        height: auto !important;
    }
    .case-preview .btn{
        flex: 0 0 0;
        width: fit-content;
    }
    .case-preview{
        overflow: visible;
        padding: 24px;
    }
    .case-preview .project-content{
        overflow-y: scroll;
    }
    .case-preview .close{
        top: -64px;
        right: 16px;
    }
}

@media (min-width:1025px) {
    .case-box{
        height: 400px;
        padding: 24px;
    }
    .time{
        top: 24px;
        right: 24px;
    }
    .case-box:hover > .btn-box{
        opacity: 1;
        transition: all ease-out 300ms;
        transform: translate(-50%, -50%);
    }
    .case-box:hover > .badge-list, .case-box:hover > .time, .case-box:hover .prj-name, .case-box:hover .company-name{
        opacity: 0.2;
        transition: all ease-out 300ms;
    }
    .case-box.uneo:hover{    
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.50) 0%, #000 100%), url(../../media/uext/pc_xl_r.webp) lightgray 50% / cover no-repeat;
    }
    .case-box.acrox:hover{    
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.50) 0%, #000 100%), url(../../media/acrox/pc_xl_s.webp) lightgray 50% / cover no-repeat;
    }
    .case-box.churchplus:hover{    
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.50) 0%, #000 100%), url(../../media/churchplus/pc_xl_s.webp) lightgray 50% / cover no-repeat;
    }
    .case-box.zot:hover{    
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.50) 0%, #000 100%), url(../../media/zot/pc_xl_r.webp) lightgray 50% / cover no-repeat;
    }
    .case-box.tcoc:hover{    
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.50) 0%, #000 100%), url(../../media/tcoc/pc_xl_r.webp) lightgray 50% / cover no-repeat;
    }
    .case-preview{
        left: 24px;
        right: 24px;
        bottom: 16px;
        max-height: none;
        height: fit-content;
    }
    .case-preview .gallery{
        width: 480px;
        height: 400px;
    }
    .case-preview .close{
        top: -64px;
        right: 0px;
    }
}

@media (min-width:1200px) {
    .case-box{
        height: 480px;
    }
    .case-preview{
        gap: 64px;
        left: 48px;
        right: 48px;
    }
        .case-preview .gallery{
        width: 540px;
        height: 440px;
    }
}