// ----------------
// Overview Section
// ----------------

.ogs{
    gap: 24px;
}

.btn-list{
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}

.highlight{
    color: $primary-500;
}

.case-title h4{
    color: $secondary-200;
}

.og{
    position: relative;
    height: 400px;
    overflow: hidden;
}

.og picture{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.og img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.og .text-box{
    padding: 16px;
    width: 75%;
}

.og .p2{
    color: $secondary-100;
}


// ----------------
// Problem Statement Section
// ----------------

.ps table{
    width: 100%;
}

.ps table tr{
    padding: 12px 0px;
    border-bottom: 1px solid var(--700, #4D4D4D);
}

.ps table .start{
    border-top: 1px solid var(--700, #4D4D4D);
}

.ps table .index{
    min-width: 48px;
}

.ps .content-box{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 12px 0px;
}

.ps .content-box img{
    width: 24px;
    height: 24px;
}

.ps .content-box .p2{
    color: $secondary-200;
}

.ps .challenge, .ps .solution{
    gap: 12px;
}


// ----------------
// Goals & Metrics Section
// ----------------

.gnms{
    background-color: $secondary-850;
}

.gnm{
    position: relative;
    padding: 24px;
    background-color: $secondary-800;
}

.gnm .badge{
    position: absolute;
    top: 0;
    right: 0;
}

.gnm .icon{
    width: 44px;
    height: 44px;
}

.gnm .p{
    color: $secondary-300;
}


// ----------------
// UX Planning Section, Design Style Section
// ----------------


.uxs h4, .dss h4{
    color: $secondary-100;
}

.uxs .content, .dss .content{
    color: $secondary-300;
}

// ----------------
// Design Style Section
// ----------------

.dss{
    background-color: $secondary-850;
}

.dss h4{
    color: $secondary-50;
}



// ----------------
// Iterations Section
// ----------------

.its h4{
    color: $secondary-100;
}

.its .itb{
    background-color: $secondary-800;
    padding: 16px;
    gap: 10px;
}

.its .details{
    gap: 10px;
}

.its .itb .p{
    color: $secondary-100;
}

.its .itb .p2{
    color: $secondary-200;
}

.its .category-icon{
    width: 32px;
    height: 32px;
    object-fit: contain;
}

.its .snh{
    gap: 6px;
}

.its .snh .caption{
    color: $secondary-500;
}

.its .snh-icon{
    width: 16px;
    height: 16px;
    object-fit: contain;
    transform: rotate(90deg);
}