
// ------------------
// Hero Section

.hero-section video{
    width: 100%;
    height: 400px;
    overflow: visible;
    object-position: 0px;
    object-fit: cover;
    margin-top: -80px;
    z-index: -1;
}

.content{
    margin-top: -16px;
}

.toolbox{
    padding: 8px 8px 8px 12px;
    gap: 8px;
    background-color: $secondary-800;
    width: fit-content;
}

.logo-box{
    width: 20px;
    height: 20px;
    overflow: hidden;
}

.hero-section .nav{
    column-gap: 16px;
    position: relative;
}

.hero-section .navlink{
    color: $secondary-700 !important;
}

.hero-section .navlink.active{
    color: $secondary-50 !important;
    font-weight: 400;
}

.hero-section .nav-bg-deco{
    position: absolute;
    top: 50%;
    left: -6px;
    transform: rotate(2deg);
    z-index: -1;
}

.hero-section .p{
    color: $secondary-200;
}

// sm rwd css
@media (min-width:577px) {
    .hero-section{
        gap: 16px;
        height: 440px;
    }
    .hero-section video{
        width: 260px;
        margin-top: 0px;
        height: 480px;
        object-position: -48px;
    }
    .content{
        margin-top: 40px;
    }
}

@media (min-width:769px) {
    .hero-section{
        height: auto;
    }
    .hero-section video{
        width: 320px;
    }
        .content{
        margin-top: 0px;
    }
}

@media (min-width:1025px) {
    .hero-section video{
        width: 500px;
        height: 500px;
        margin-top: 0px;
        object-position: 40px;
    }
}

// ------------------
// Bold Text Section

.boldtext-section{
    gap: 12px;
}

.boldtext-section .quote{
    width: 80px ;
    height: 80px ;
}

.boldtext{
    font-size: 54px;
    line-height: 120%;
}

.boldtext-section .p{
    color: $secondary-400;
}

// sm rwd css
@media (min-width:577px) {
    .boldtext{
        font-size: 64px;
        line-height: 120%;
    }
}

// md rwd css
@media (min-width:769px) {
    .boldtext-section{
        gap: 20px;
    }
    .boldtext-section .quote{
        width: 96px;
        height: 96px;
    }
    .boldtext{
        margin-top: 24px;
        font-size: 80px;
    }
    .boldtext-section .grid .btn{
        align-self: end;
        justify-self: end;
    }
}

@media (min-width:1025px) {
    .boldtext-section .quote{
        width: 106px;
        height: 106px;
    }
}

@media (min-width:1200px) {
    .boldtext-section{
        max-width: 1230px;
    }
    .boldtext-section .quote{
        width: 207px;
        height: 207px;
    }
    .boldtext{
        margin-top: 48px;
        font-size: 96px;
    }
}

// ------------------
// Case Section

.case{
    background-color: $secondary-850;
}

.case-section .badge-list{
    gap: 8px;
}

.case-section .prj-cover{
    width: 100%;
    object-fit: cover;
    height: 200px;
    border-radius: 2px;
}

.case-section .data{
    font-size: 40px;
    color: $primary-500;
    line-height: 125%;
}
.case-section .prj-overview{
    column-gap: 20px;
    row-gap: 12px;
}

.case-section .prj-overview .caption{
    color: $secondary-500;
}

.case-section .prj-overview .p{
    color: $secondary-200;
}

.case-section .prj-highlights .p2{
    color: $secondary-200;
}

.case-section .divider{
    width: 100%;
    margin-bottom: 20px;
    height: 1.5px;
    background: center / cover no-repeat url(../../media/divider.svg);
}

// sm rwd css
@media (min-width:577px) {
    .case-section .divider{
        display: block;
        background-image: url(../../media/divider-vertical.svg);
        width: 1.5px;
        margin: 0 20px;
        align-self: stretch;
        height: auto;
    }
    .case-section .prj-block{
        flex: 1 1 0;
        min-width: 0;
    }
    .case-section .prj-cover{
        height: 360px;
    }
    .case-section .btn.btn-primary{
        width: fit-content !important;
    }
    .case-section .data{
        font-size: 28px;
        margin-bottom: 8px;
    }
}

@media (min-width:769px) {
    .case-section .prj-cover{
        width: 400px;
        height: auto;
    }
    .case-section .case{
        gap: 40px;
    }
}

@media (min-width:1200px) {
    .case-section .prj-cover{
        width: 50%;
        max-width: 625px;
        height: auto;
    }
    .case-section .data{
        font-size: 32px;
        margin-bottom: 8px;
    }
}

// ------------------
// Comment Section

.comment{
    background-color: $secondary-850;
    border-radius: 4px;
}

.comment .cover{
    background: center center / cover no-repeat url(../../media/group-photo-sm-1.png);
    height: auto;
    border-radius: 2px;
}

.comment .badge-list{
    gap: 8px;
}

.comment h4{
    color: $secondary-100;
}

.comment .p{
    color: $secondary-200;
}

.comment img.icon{
    height: 24px;
    width: 24px;
}

.comment .company{
    border-top: 1px solid var(--700, #4D4D4D);
    
    .company-logo{
        height: 20px;
        width: 20px;
        margin-right: 8px;
    }

    .p2{
        color: $secondary-200;
    }
}

@media (min-width:577px) {
    .comment{
        display: flex;
        flex-direction: row;
        gap: 16px;
        background-color: transparent;
    }
    .comment .cover{
        flex: 1 0 0;
        padding: 16px;
    }
    .comment .testament{
        flex: 1 0 0;
        background-color: $secondary-850;
        padding: 16px;
        border-radius: 2px;
    }
}

@media (min-width:1025px) {

    .comment .testament .p{
        margin-bottom: 64px !important;
    }
    .comment .testament .icon{
        width: 40px;
        height: 40px;
    }
}

@media (min-width:1200px) {
    .comment-container{
        display: grid;
        grid-template-columns: repeat(12, 1fr); //xl
        gap: 20px;
    }
    .testimonial-section .section-title{
        text-align: center;
    }
}

// ------------------
// Service Section

.service-section .package{
    background-color: $secondary-850;
    border-radius: 2px;
    padding: 16px;
}

.service-section .target{
    color: $secondary-200;
}

.service-section .checklist-icon{
    width: 16px;
    height: 16px;
    margin-right: 6px;
}
.service-section .p2{
    color: $secondary-500;
}

.service-section li.p2{
    color: $secondary-200;
}

.service-section .consultation{
    color: $secondary-200;
}

@media (min-width:577px) {
    .service-section .btn.btn-primary{
        width: fit-content !important;
    }
    .service-section .divider{
        height: 1px;
        object-fit: cover;
    }
}

@media (min-width:1025px) {
    .package-container{
        gap: 20px;
    }
    .service-section .btn.btn-primary{
        width: 100% !important;
    }
}

@media (min-width:1200px) {
    .service-section .section-title{
        text-align: center;
    }
    .section-title{
        margin-bottom: 64px;
    }
    .service-section .package{
        padding: 24px;
    }
}

// ------------------
// Contact Section
.social-media{
   display: flex;
   flex-direction: column; 
}

.social{
    display: flex;
    background-color: $secondary-850;
    border-radius: 2px;
}

.social .icon{
    width: 24px;
    height: 24px;
}

@media (min-width:577px) {
    .social-media{
        display: grid !important;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 16px;
    }

    .social{
        grid-column: span 2;
    }
}

@media (min-width:769px) {
    .social .media-icon{
        width: 32px;
        height: 32px;
    }
}

@media (min-width:1200px) {
    .contact-section{
        gap: 145px;
    }
    .social-media{
        gap: 20px;
        width: 100%;
        max-width: 889px;
    }
    .social{
        grid-column: span 2;
    }
    .social .media-icon{
        width: 40px;
        height: 40px;
    }
}