@font-face {
	font-family: 'Sk-Modernist';
	  src: url('../fonts/Sk-Modernist-Regular.eot'); /* IE9 Compat Modes */
	  src: url('../fonts/Sk-Modernist-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		  url('../fonts/Sk-Modernist-Regular.woff2') format('woff2'), /* Super Modern Browsers */
		  url('../fonts/Sk-Modernist-Regular.woff') format('woff'), /* Pretty Modern Browsers */
		  url('../fonts/Sk-Modernist-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
		  url('../fonts/Sk-Modernist-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
	  font-weight: normal;
	  font-style: normal;
  }

@font-face {
	font-family: 'Sk-Modernist';
	  src: url('../fonts/Sk-Modernist-Light.eot'); /* IE9 Compat Modes */
	  src: url('../fonts/Sk-Modernist-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		  url('../fonts/Sk-Modernist-Light.woff2') format('woff2'), /* Super Modern Browsers */
		  url('../fonts/Sk-Modernist-Light.woff') format('woff'), /* Pretty Modern Browsers */
		  url('../fonts/Sk-Modernist-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
		  url('../fonts/Sk-Modernist-Light.svg#svgFontName') format('svg'); /* Legacy iOS */
	  font-weight: 300;
	  font-style: normal;
  }

@font-face {
	font-family: 'Sk-Modernist';
	  src: url('../fonts/Sk-Modernist-Bold.eot'); /* IE9 Compat Modes */
	  src: url('../fonts/Sk-Modernist-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		  url('../fonts/Sk-Modernist-Bold.woff2') format('woff2'), /* Super Modern Browsers */
		  url('../fonts/Sk-Modernist-Bold.woff') format('woff'), /* Pretty Modern Browsers */
		  url('../fonts/Sk-Modernist-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
		  url('../fonts/Sk-Modernist-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
	  font-weight: bold;
	  font-style: normal;
  }

@font-face {
	font-family: 'Sk-Modernist Mono';
	  src: url('../fonts/Sk-Modernist-Mono.eot'); /* IE9 Compat Modes */
	  src: url('../fonts/Sk-Modernist-Mono.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		  url('../fonts/Sk-Modernist-Mono.woff2') format('woff2'), /* Super Modern Browsers */
		  url('../fonts/Sk-Modernist-Mono.woff') format('woff'), /* Pretty Modern Browsers */
		  url('../fonts/Sk-Modernist-Mono.ttf')  format('truetype'), /* Safari, Android, iOS */
		  url('../fonts/Sk-Modernist-Mono.svg#svgFontName') format('svg'); /* Legacy iOS */
	  font-weight: normal;
	  font-style: normal;
  }

body{
    background-color: $secondary-900;
    font-family: 'Sk-modernist', sans-serif;
}

body.unscrollable{
	overflow: hidden;
}

*{
    color: $secondary-50;
}

/* width */
::-webkit-scrollbar {
	width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
	border-radius: 1px;
	background: $secondary-800;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: $secondary-700;
	border-radius: 1px;
}

.navbar-brand{
	margin: 0 !important;
}

// Header Side Menu Button
.hamburger{
	width: 44px;
	height: 44px;
	padding: 4px;
}

// Font Weight "Light"
.f-300{
    font-weight: 300;
}

.f-400{
    font-weight: 400;
}

// Font Weight "Bold"
.f-700{
    font-weight: 700;
}

.btn{
    width: fit-content;
	white-space: nowrap;
	height: fit-content;
}

.badge{
    border-radius: 1px;
    padding: 4px 8px;
}

.bg-primary{
    background-color: rgba($color: $primary-400, $alpha: 0.8) !important;
    color: $primary-900 !important;
}

.bg-secondary{
    background: rgba(78, 78, 78, 0.80) !important;
    color: $secondary-100 !important;
}

.section-title .p{
    color: $secondary-200;
}

.text-highlight{
    color: $primary-500;
}

// Contact Section
.social:hover{
	background-color: $secondary-800;
}

.social .p{
	color: $secondary-200;
}

.social:hover .p{
	color: $secondary-100;
}

// Footer
.footer{
    border-top: 1px solid var(--800, #333);
    background-color: $secondary-900;
}

.footer .container{
    gap: 4px;
    padding: 20px 24px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer .caption{
    color: $secondary-400;
}