// -----------------------------
// UEXT Case Details Page Images
// -----------------------------

// Overview Section
.uext .ogp-1{
    @media (min-width: 577px) {
        content: url(../../media/uext/uext_og_md_1.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/uext/uext_og_lg_1.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/uext/uext_og_xl_1.webp);
    }
}
.uext .ogp-2{
    @media (min-width: 577px) {
        content: url(../../media/uext/uext_og_md_2.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/uext/uext_og_lg_2.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/uext/uext_og_xl_2.webp);
    }
}
.uext .ogp-3{
    @media (min-width: 577px) {
        content: url(../../media/uext/uext_og_md_3.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/uext/uext_og_lg_3.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/uext/uext_og_xl_3.webp);
    }
}

// UX Planning Section
.uext .uxs-img-1{
    @media (min-width: 577px) {
        content: url(../../media/uext/uext_uxs_md_1.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/uext/uext_uxs_lg_1.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/uext/uext_uxs_xl_1.webp);
    }
}
.uext .uxs-img-2{
    @media (min-width: 577px) {
        content: url(../../media/uext/uext_uxs_md_2.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/uext/uext_uxs_lg_2.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/uext/uext_uxs_xl_2.webp);
    }
}
.uext .uxs-img-3{
    @media (min-width: 577px) {
        content: url(../../media/uext/uext_uxs_md_3.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/uext/uext_uxs_lg_3.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/uext/uext_uxs_xl_3.webp);
    }
}

// Design Style Section
.uext .dss-img-1{
    @media (min-width: 577px) {
        content: url(../../media/uext/uext_dss_md_1.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/uext/uext_dss_lg_1.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/uext/uext_dss_xl_1.webp);
    }
}
.uext .dss-img-2{
    @media (min-width: 577px) {
        content: url(../../media/uext/uext_dss_md_2.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/uext/uext_dss_lg_2.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/uext/uext_dss_xl_2.webp);
    }
}
.uext .dss-img-3{
    @media (min-width: 577px) {
        content: url(../../media/uext/uext_dss_md_3.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/uext/uext_dss_lg_3.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/uext/uext_dss_xl_3.webp);
    }
}

// Iteration Section
.uext .its-img-1{
    @media (min-width: 577px) {
        content: url(../../media/uext/uext_its_md_1.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/uext/uext_its_lg_1.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/uext/uext_its_xl_1.webp);
    }
}
.uext .its-img-2{
    @media (min-width: 577px) {
        content: url(../../media/uext/uext_its_md_2.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/uext/uext_its_lg_2.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/uext/uext_its_xl_2.webp);
    }
}
.uext .its-img-3{
    @media (min-width: 577px) {
        content: url(../../media/uext/uext_its_md_3.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/uext/uext_its_lg_3.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/uext/uext_its_xl_3.webp);
    }
}
.uext .its-img-4{
    @media (min-width: 577px) {
        content: url(../../media/uext/uext_its_md_4.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/uext/uext_its_lg_4.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/uext/uext_its_xl_4.webp);
    }
}
.uext .its-img-5{
    @media (min-width: 577px) {
        content: url(../../media/uext/uext_its_md_5.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/uext/uext_its_lg_5.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/uext/uext_its_xl_5.webp);
    }
}

// Design System Section
.uext .dsys-img-1{
    @media (min-width: 577px) {
        content: url(../../media/uext/uext_dsys_md_1.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/uext/uext_dsys_lg_1.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/uext/uext_dsys_xl_1.webp);
    }
}
.uext .dsys-img-2{
    @media (min-width: 577px) {
        content: url(../../media/uext/uext_dsys_md_2.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/uext/uext_dsys_lg_2.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/uext/uext_dsys_xl_2.webp);
    }
}
.uext .dsys-img-3{
    @media (min-width: 577px) {
        content: url(../../media/uext/uext_dsys_md_3.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/uext/uext_dsys_lg_3.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/uext/uext_dsys_xl_3.webp);
    }
}
.uext .dsys-img-4{
    @media (min-width: 577px) {
        content: url(../../media/uext/uext_dsys_md_4.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/uext/uext_dsys_lg_4.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/uext/uext_dsys_xl_4.webp);
    }
}

// Final Screens Section
.uext .fscr-img{
    @media (min-width: 577px) {
        content: url(../../media/uext/uext_fscr_md.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/uext/uext_fscr_lg.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/uext/uext_fscr_xl.webp);
    }
}