// -----------------------------
// UEXT Case Details Page Images
// -----------------------------

// Overview Section
.uext .ogp-1{
    @media (min-width: 577px) {
        content: url(../../media/uext/og_md_1.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/uext/og_lg_1.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/uext/og_xl_1.webp);
    }
}
.uext .ogp-2{
    @media (min-width: 577px) {
        content: url(../../media/uext/og_md_2.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/uext/og_lg_2.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/uext/og_xl_2.webp);
    }
}
.uext .ogp-3{
    @media (min-width: 577px) {
        content: url(../../media/uext/og_md_3.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/uext/og_lg_3.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/uext/og_xl_3.webp);
    }
}

// UX Planning Section
.uext .uxs-img-1{
    @media (min-width: 577px) {
        content: url(../../media/uext/uxs_md_1.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/uext/uxs_lg_1.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/uext/uxs_xl_1.webp);
    }
}
.uext .uxs-img-2{
    @media (min-width: 577px) {
        content: url(../../media/uext/uxs_md_2.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/uext/uxs_lg_2.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/uext/uxs_xl_2.webp);
    }
}
.uext .uxs-img-3{
    @media (min-width: 577px) {
        content: url(../../media/uext/uxs_md_3.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/uext/uxs_lg_3.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/uext/uxs_xl_3.webp);
    }
}

// Design Style Section
.uext .dss-img-1{
    @media (min-width: 577px) {
        content: url(../../media/uext/dss_md_1.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/uext/dss_lg_1.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/uext/dss_xl_1.webp);
    }
}
.uext .dss-img-2{
    @media (min-width: 577px) {
        content: url(../../media/uext/dss_md_2.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/uext/dss_lg_2.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/uext/dss_xl_2.webp);
    }
}
.uext .dss-img-3{
    @media (min-width: 577px) {
        content: url(../../media/uext/dss_md_3.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/uext/dss_lg_3.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/uext/dss_xl_3.webp);
    }
}

// Iteration Section
.uext .its-img-1{
    @media (min-width: 577px) {
        content: url(../../media/uext/its_md_1.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/uext/its_lg_1.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/uext/its_xl_1.webp);
    }
}
.uext .its-img-2{
    @media (min-width: 577px) {
        content: url(../../media/uext/its_md_2.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/uext/its_lg_2.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/uext/its_xl_2.webp);
    }
}
.uext .its-img-3{
    @media (min-width: 577px) {
        content: url(../../media/uext/its_md_3.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/uext/its_lg_3.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/uext/its_xl_3.webp);
    }
}
.uext .its-img-4{
    @media (min-width: 577px) {
        content: url(../../media/uext/its_md_4.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/uext/its_lg_4.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/uext/its_xl_4.webp);
    }
}
.uext .its-img-5{
    @media (min-width: 577px) {
        content: url(../../media/uext/its_md_5.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/uext/its_lg_5.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/uext/its_xl_5.webp);
    }
}

// Design System Section
.uext .dsys-img-1{
    @media (min-width: 577px) {
        content: url(../../media/uext/dsys_md_1.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/uext/dsys_lg_1.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/uext/dsys_xl_1.webp);
    }
}
.uext .dsys-img-2{
    @media (min-width: 577px) {
        content: url(../../media/uext/dsys_md_2.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/uext/dsys_lg_2.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/uext/dsys_xl_2.webp);
    }
}
.uext .dsys-img-3{
    @media (min-width: 577px) {
        content: url(../../media/uext/dsys_md_3.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/uext/dsys_lg_3.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/uext/dsys_xl_3.webp);
    }
}
.uext .dsys-img-4{
    @media (min-width: 577px) {
        content: url(../../media/uext/dsys_md_4.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/uext/dsys_lg_4.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/uext/dsys_xl_4.webp);
    }
}

// Final Screens Section
.uext .fsrc-img{
    @media (min-width: 577px) {
        content: url(../../media/uext/fsrc_md.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/uext/fsrc_lg.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/uext/fsrc_xl.webp);
    }
}


// -----------------------------
// ACROX Case Details Page Images
// -----------------------------

// Overview Section
.acrox .ogp-1{
    @media (min-width: 577px) {
        content: url(../../media/acrox/og_md_1.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/acrox/og_lg_1.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/acrox/og_xl_1.webp);
    }
}
.acrox .ogp-2{
    @media (min-width: 577px) {
        content: url(../../media/acrox/og_md_2.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/acrox/og_lg_2.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/acrox/og_xl_2.webp);
    }
}
.acrox .ogp-3{
    @media (min-width: 577px) {
        content: url(../../media/acrox/og_md_3.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/acrox/og_lg_3.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/acrox/og_xl_3.webp);
    }
}

// UX Planning Section
.acrox .uxs-img-1{
    @media (min-width: 577px) {
        content: url(../../media/acrox/uxs_md_1.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/acrox/uxs_lg_1.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/acrox/uxs_xl_1.webp);
    }
}
.acrox .uxs-img-2{
    @media (min-width: 577px) {
        content: url(../../media/acrox/uxs_md_2.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/acrox/uxs_lg_2.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/acrox/uxs_xl_2.webp);
    }
}
.acrox .uxs-img-3{
    @media (min-width: 577px) {
        content: url(../../media/acrox/uxs_md_3.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/acrox/uxs_lg_3.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/acrox/uxs_xl_3.webp);
    }
}
.acrox .uxs-img-4{
    @media (min-width: 577px) {
        content: url(../../media/acrox/uxs_md_4.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/acrox/uxs_lg_4.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/acrox/uxs_xl_4.webp);
    }
}
.acrox .uxs-img-5{
    @media (min-width: 577px) {
        content: url(../../media/acrox/uxs_md_5.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/acrox/uxs_lg_5.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/acrox/uxs_xl_5.webp);
    }
}

// Design Style Section
.acrox .dss-img-1{
    @media (min-width: 577px) {
        content: url(../../media/acrox/dss_md_1.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/acrox/dss_lg_1.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/acrox/dss_lg_1.webp);
    }
}
.acrox .dss-img-2{
    @media (min-width: 577px) {
        content: url(../../media/acrox/dss_md_2.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/acrox/dss_lg_2.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/acrox/dss_lg_2.webp);
    }
}
.acrox .dss-img-3{
    @media (min-width: 577px) {
        content: url(../../media/acrox/dss_md_3.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/acrox/dss_lg_3.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/acrox/dss_lg_3.webp);
    }
}

// Iteration Section
.acrox .its-img-1{
    @media (min-width: 577px) {
        content: url(../../media/acrox/its_md_1.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/acrox/its_lg_1.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/acrox/its_xl_1.webp);
    }
}
.acrox .its-img-2{
    @media (min-width: 577px) {
        content: url(../../media/acrox/its_md_2.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/acrox/its_lg_2.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/acrox/its_xl_2.webp);
    }
}
.acrox .its-img-3{
    @media (min-width: 577px) {
        content: url(../../media/acrox/its_md_3.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/acrox/its_lg_3.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/acrox/its_xl_3.webp);
    }
}
.acrox .its-img-4{
    @media (min-width: 577px) {
        content: url(../../media/acrox/its_md_4.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/acrox/its_lg_4.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/acrox/its_xl_4.webp);
    }
}
.acrox .its-img-5{
    @media (min-width: 577px) {
        content: url(../../media/acrox/its_md_5.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/acrox/its_lg_5.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/acrox/its_xl_5.webp);
    }
}
.acrox .its-img-6{
    @media (min-width: 577px) {
        content: url(../../media/acrox/its_md_6.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/acrox/its_lg_6.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/acrox/its_xl_6.webp);
    }
}
.acrox .its-img-7{
    @media (min-width: 577px) {
        content: url(../../media/acrox/its_md_7.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/acrox/its_lg_7.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/acrox/its_xl_7.webp);
    }
}

// Design System Section
.acrox .dsys-img-1{
    @media (min-width: 577px) {
        content: url(../../media/acrox/dsys_md_1.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/acrox/dsys_lg_1.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/acrox/dsys_xl_1.webp);
    }
}
.acrox .dsys-img-2{
    @media (min-width: 577px) {
        content: url(../../media/acrox/dsys_md_2.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/acrox/dsys_lg_2.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/acrox/dsys_xl_2.webp);
    }
}
.acrox .dsys-img-3{
    @media (min-width: 577px) {
        content: url(../../media/acrox/dsys_md_3.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/acrox/dsys_lg_3.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/acrox/dsys_xl_3.webp);
    }
}
.acrox .dsys-img-4{
    @media (min-width: 577px) {
        content: url(../../media/acrox/dsys_md_4.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/acrox/dsys_lg_4.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/acrox/dsys_xl_4.webp);
    }
}

// Final Screens Section
.acrox .fsrc-img{
    @media (min-width: 577px) {
        content: url(../../media/acrox/fsrc_md.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/acrox/fsrc_lg.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/acrox/fsrc_xl.webp);
    }
}


// -----------------------------
// ACROX Case Details Page Images
// -----------------------------

// Overview Section
.zot .ogp-1{
    @media (min-width: 577px) {
        content: url(../../media/zot/og_md_1.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/zot/og_lg_1.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/zot/og_xl_1.webp);
    }
}
.zot .ogp-2{
    @media (min-width: 577px) {
        content: url(../../media/zot/og_md_2.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/zot/og_lg_2.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/zot/og_xl_2.webp);
    }
}
.zot .ogp-3{
    @media (min-width: 577px) {
        content: url(../../media/zot/og_md_3.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/zot/og_lg_3.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/zot/og_xl_3.webp);
    }
}


// UX Planning Section
.zot .uxs-img-1{
    @media (min-width: 577px) {
        content: url(../../media/zot/uxs_md_1.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/zot/uxs_lg_1.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/zot/uxs_xl_1.webp);
    }
}
.zot .uxs-img-2{
    @media (min-width: 577px) {
        content: url(../../media/zot/uxs_md_2.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/zot/uxs_lg_2.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/zot/uxs_xl_2.webp);
    }
}
.zot .uxs-img-3{
    @media (min-width: 577px) {
        content: url(../../media/zot/uxs_md_3.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/zot/uxs_lg_3.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/zot/uxs_xl_3.webp);
    }
}
.zot .uxs-img-4{
    @media (min-width: 577px) {
        content: url(../../media/zot/uxs_md_4.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/zot/uxs_lg_4.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/zot/uxs_xl_4.webp);
    }
}
.zot .uxs-img-5{
    @media (min-width: 577px) {
        content: url(../../media/zot/uxs_md_5.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/zot/uxs_lg_5.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/zot/uxs_xl_5.webp);
    }
}

// Design Style Section
.zot .dss-img-1{
    @media (min-width: 577px) {
        content: url(../../media/zot/dss_md_1.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/zot/dss_lg_1.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/zot/dss_lg_1.webp);
    }
}
.zot .dss-img-2{
    @media (min-width: 577px) {
        content: url(../../media/zot/dss_md_2.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/zot/dss_lg_2.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/zot/dss_lg_2.webp);
    }
}
.zot .dss-img-3{
    @media (min-width: 577px) {
        content: url(../../media/zot/dss_md_3.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/zot/dss_lg_3.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/zot/dss_lg_3.webp);
    }
}

// Iteration Section
.zot .its-img-1{
    @media (min-width: 577px) {
        content: url(../../media/zot/its_md_1.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/zot/its_lg_1.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/zot/its_xl_1.webp);
    }
}
.zot .its-img-2{
    @media (min-width: 577px) {
        content: url(../../media/zot/its_md_2.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/zot/its_lg_2.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/zot/its_xl_2.webp);
    }
}
.zot .its-img-3{
    @media (min-width: 577px) {
        content: url(../../media/zot/its_md_3.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/zot/its_lg_3.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/zot/its_xl_3.webp);
    }
}
.zot .its-img-4{
    @media (min-width: 577px) {
        content: url(../../media/zot/its_md_4.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/zot/its_lg_4.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/zot/its_xl_4.webp);
    }
}
.zot .its-img-5{
    @media (min-width: 577px) {
        content: url(../../media/zot/its_md_5.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/zot/its_lg_5.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/zot/its_xl_5.webp);
    }
}
.zot .its-img-6{
    @media (min-width: 577px) {
        content: url(../../media/zot/its_md_6.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/zot/its_lg_6.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/zot/its_xl_6.webp);
    }
}
.zot .its-img-7{
    @media (min-width: 577px) {
        content: url(../../media/zot/its_md_7.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/zot/its_lg_7.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/zot/its_xl_7.webp);
    }
}

// Design System Section
.zot .dsys-img-1{
    @media (min-width: 577px) {
        content: url(../../media/zot/dsys_md_1.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/zot/dsys_lg_1.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/zot/dsys_xl_1.webp);
    }
}
.zot .dsys-img-2{
    @media (min-width: 577px) {
        content: url(../../media/zot/dsys_md_2.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/zot/dsys_lg_2.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/zot/dsys_xl_2.webp);
    }
}
.zot .dsys-img-3{
    @media (min-width: 577px) {
        content: url(../../media/zot/dsys_md_3.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/zot/dsys_lg_3.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/zot/dsys_xl_3.webp);
    }
}
.zot .dsys-img-4{
    @media (min-width: 577px) {
        content: url(../../media/zot/dsys_md_4.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/zot/dsys_lg_4.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/zot/dsys_xl_4.webp);
    }
}
.zot .dsys-img-5{
    @media (min-width: 577px) {
        content: url(../../media/zot/dsys_md_5.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/zot/dsys_lg_5.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/zot/dsys_xl_5.webp);
    }
}
.zot .dsys-img-6{
    @media (min-width: 577px) {
        content: url(../../media/zot/dsys_md_6.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/zot/dsys_lg_6.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/zot/dsys_xl_6.webp);
    }
}
.zot .dsys-img-7{
    @media (min-width: 577px) {
        content: url(../../media/zot/dsys_md_7.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/zot/dsys_lg_7.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/zot/dsys_xl_7.webp);
    }
}
.zot .dsys-img-8{
    @media (min-width: 577px) {
        content: url(../../media/zot/dsys_md_8.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/zot/dsys_lg_8.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/zot/dsys_xl_8.webp);
    }
}

// Final Screens Section
.zot .fsrc-img{
    @media (min-width: 577px) {
        content: url(../../media/zot/fsrc_md.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/zot/fsrc_lg.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/zot/fsrc_xl.webp);
    }
}


// -----------------------------
// churchplus Case Details Page Images
// -----------------------------

// Overview Section
.churchplus .ogp-1{
    @media (min-width: 577px) {
        content: url(../../media/churchplus/og_md_1.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/churchplus/og_lg_1.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/churchplus/og_xl_1.webp);
    }
}
.churchplus .ogp-2{
    @media (min-width: 577px) {
        content: url(../../media/churchplus/og_md_2.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/churchplus/og_lg_2.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/churchplus/og_xl_2.webp);
    }
}
.churchplus .ogp-3{
    @media (min-width: 577px) {
        content: url(../../media/churchplus/og_md_3.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/churchplus/og_lg_3.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/churchplus/og_xl_3.webp);
    }
}

// UX Planning Section
.churchplus .uxs-img-1{
    @media (min-width: 577px) {
        content: url(../../media/churchplus/uxs_md_1.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/churchplus/uxs_lg_1.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/churchplus/uxs_xl_1.webp);
    }
}
.churchplus .uxs-img-2{
    @media (min-width: 577px) {
        content: url(../../media/churchplus/uxs_md_2.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/churchplus/uxs_lg_2.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/churchplus/uxs_xl_2.webp);
    }
}
.churchplus .uxs-img-3{
    @media (min-width: 577px) {
        content: url(../../media/churchplus/uxs_md_3.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/churchplus/uxs_lg_3.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/churchplus/uxs_xl_3.webp);
    }
}
.churchplus .uxs-img-4{
    @media (min-width: 577px) {
        content: url(../../media/churchplus/uxs_md_4.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/churchplus/uxs_lg_4.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/churchplus/uxs_xl_4.webp);
    }
}
.churchplus .uxs-img-5{
    @media (min-width: 577px) {
        content: url(../../media/churchplus/uxs_md_5.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/churchplus/uxs_lg_5.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/churchplus/uxs_xl_5.webp);
    }
}

// Design Style Section
.churchplus .dss-img-1{
    @media (min-width: 577px) {
        content: url(../../media/churchplus/dss_md_1.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/churchplus/dss_lg_1.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/churchplus/dss_lg_1.webp);
    }
}
.churchplus .dss-img-2{
    @media (min-width: 577px) {
        content: url(../../media/churchplus/dss_md_2.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/churchplus/dss_lg_2.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/churchplus/dss_lg_2.webp);
    }
}
.churchplus .dss-img-3{
    @media (min-width: 577px) {
        content: url(../../media/churchplus/dss_md_3.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/churchplus/dss_lg_3.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/churchplus/dss_lg_3.webp);
    }
}

// Iteration Section
.churchplus .its-img-1{
    @media (min-width: 577px) {
        content: url(../../media/churchplus/its_md_1.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/churchplus/its_lg_1.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/churchplus/its_xl_1.webp);
    }
}
.churchplus .its-img-2{
    @media (min-width: 577px) {
        content: url(../../media/churchplus/its_md_2.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/churchplus/its_lg_2.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/churchplus/its_xl_2.webp);
    }
}
.churchplus .its-img-3{
    @media (min-width: 577px) {
        content: url(../../media/churchplus/its_md_3.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/churchplus/its_lg_3.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/churchplus/its_xl_3.webp);
    }
}
.churchplus .its-img-4{
    @media (min-width: 577px) {
        content: url(../../media/churchplus/its_md_4.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/churchplus/its_lg_4.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/churchplus/its_xl_4.webp);
    }
}
.churchplus .its-img-5{
    @media (min-width: 577px) {
        content: url(../../media/churchplus/its_md_5.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/churchplus/its_lg_5.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/churchplus/its_xl_5.webp);
    }
}
.churchplus .its-img-6{
    @media (min-width: 577px) {
        content: url(../../media/churchplus/its_md_6.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/churchplus/its_lg_6.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/churchplus/its_xl_6.webp);
    }
}
.churchplus .its-img-7{
    @media (min-width: 577px) {
        content: url(../../media/churchplus/its_md_7.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/churchplus/its_lg_7.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/churchplus/its_xl_7.webp);
    }
}
.churchplus .its-img-8{
    @media (min-width: 577px) {
        content: url(../../media/churchplus/its_md_8.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/churchplus/its_lg_8.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/churchplus/its_xl_8.webp);
    }
}
.churchplus .its-img-9{
    @media (min-width: 577px) {
        content: url(../../media/churchplus/its_md_9.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/churchplus/its_lg_9.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/churchplus/its_xl_9.webp);
    }
}
.churchplus .its-img-10{
    @media (min-width: 577px) {
        content: url(../../media/churchplus/its_md_10.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/churchplus/its_lg_10.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/churchplus/its_xl_10.webp);
    }
}
.churchplus .its-img-11{
    @media (min-width: 577px) {
        content: url(../../media/churchplus/its_md_11.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/churchplus/its_lg_11.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/churchplus/its_xl_11.webp);
    }
}
.churchplus .its-img-12{
    @media (min-width: 577px) {
        content: url(../../media/churchplus/its_md_12.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/churchplus/its_lg_12.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/churchplus/its_xl_12.webp);
    }
}
.churchplus .its-img-13{
    @media (min-width: 577px) {
        content: url(../../media/churchplus/its_md_13.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/churchplus/its_lg_13.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/churchplus/its_xl_13.webp);
    }
}

// Design System Section
.churchplus .dsys-img-1{
    @media (min-width: 577px) {
        content: url(../../media/churchplus/dsys_md_1.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/churchplus/dsys_lg_1.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/churchplus/dsys_xl_1.webp);
    }
}
.churchplus .dsys-img-2{
    @media (min-width: 577px) {
        content: url(../../media/churchplus/dsys_md_2.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/churchplus/dsys_lg_2.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/churchplus/dsys_xl_2.webp);
    }
}
.churchplus .dsys-img-3{
    @media (min-width: 577px) {
        content: url(../../media/churchplus/dsys_md_3.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/churchplus/dsys_lg_3.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/churchplus/dsys_xl_3.webp);
    }
}
.churchplus .dsys-img-4{
    @media (min-width: 577px) {
        content: url(../../media/churchplus/dsys_md_4.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/churchplus/dsys_lg_4.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/churchplus/dsys_xl_4.webp);
    }
}

// Final Screens Section
.churchplus .fsrc-img{
    @media (min-width: 577px) {
        content: url(../../media/churchplus/fsrc_md.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/churchplus/fsrc_lg.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/churchplus/fsrc_xl.webp);
    }
}


// -----------------------------
// TCOC Case Details Page Images
// -----------------------------

// Overview Section
.tcoc .ogp-1{
    @media (min-width: 577px) {
        content: url(../../media/tcoc/og_md_1.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/tcoc/og_lg_1.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/tcoc/og_xl_1.webp);
    }
}
.tcoc .ogp-2{
    @media (min-width: 577px) {
        content: url(../../media/tcoc/og_md_2.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/tcoc/og_lg_2.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/tcoc/og_xl_2.webp);
    }
}
.tcoc .ogp-3{
    @media (min-width: 577px) {
        content: url(../../media/tcoc/og_md_3.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/tcoc/og_lg_3.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/tcoc/og_xl_3.webp);
    }
}

// UX Planning Section
.tcoc .uxs-img-1{
    @media (min-width: 577px) {
        content: url(../../media/tcoc/uxs_md_1.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/tcoc/uxs_lg_1.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/tcoc/uxs_xl_1.webp);
    }
}
.tcoc .uxs-img-2{
    @media (min-width: 577px) {
        content: url(../../media/tcoc/uxs_md_2.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/tcoc/uxs_lg_2.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/tcoc/uxs_xl_2.webp);
    }
}
.tcoc .uxs-img-3{
    @media (min-width: 577px) {
        content: url(../../media/tcoc/uxs_md_3.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/tcoc/uxs_lg_3.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/tcoc/uxs_xl_3.webp);
    }
}
.tcoc .uxs-img-4{
    @media (min-width: 577px) {
        content: url(../../media/tcoc/uxs_md_4.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/tcoc/uxs_lg_4.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/tcoc/uxs_xl_4.webp);
    }
}
.tcoc .uxs-img-5{
    @media (min-width: 577px) {
        content: url(../../media/tcoc/uxs_md_5.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/tcoc/uxs_lg_5.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/tcoc/uxs_xl_5.webp);
    }
}

// Design Style Section
.tcoc .dss-img-1{
    @media (min-width: 577px) {
        content: url(../../media/tcoc/dss_md_1.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/tcoc/dss_lg_1.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/tcoc/dss_lg_1.webp);
    }
}
.tcoc .dss-img-2{
    @media (min-width: 577px) {
        content: url(../../media/tcoc/dss_md_2.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/tcoc/dss_lg_2.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/tcoc/dss_lg_2.webp);
    }
}
.tcoc .dss-img-3{
    @media (min-width: 577px) {
        content: url(../../media/tcoc/dss_md_3.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/tcoc/dss_lg_3.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/tcoc/dss_lg_3.webp);
    }
}

// Iteration Section
.tcoc .its-img-1{
    @media (min-width: 577px) {
        content: url(../../media/tcoc/its_md_1.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/tcoc/its_lg_1.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/tcoc/its_xl_1.webp);
    }
}
.tcoc .its-img-2{
    @media (min-width: 577px) {
        content: url(../../media/tcoc/its_md_2.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/tcoc/its_lg_2.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/tcoc/its_xl_2.webp);
    }
}
.tcoc .its-img-3{
    @media (min-width: 577px) {
        content: url(../../media/tcoc/its_md_3.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/tcoc/its_lg_3.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/tcoc/its_xl_3.webp);
    }
}
.tcoc .its-img-4{
    @media (min-width: 577px) {
        content: url(../../media/tcoc/its_md_4.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/tcoc/its_lg_4.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/tcoc/its_xl_4.webp);
    }
}
.tcoc .its-img-5{
    @media (min-width: 577px) {
        content: url(../../media/tcoc/its_md_5.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/tcoc/its_lg_5.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/tcoc/its_xl_5.webp);
    }
}
.tcoc .its-img-6{
    @media (min-width: 577px) {
        content: url(../../media/tcoc/its_md_6.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/tcoc/its_lg_6.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/tcoc/its_xl_6.webp);
    }
}
.tcoc .its-img-7{
    @media (min-width: 577px) {
        content: url(../../media/tcoc/its_md_7.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/tcoc/its_lg_7.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/tcoc/its_xl_7.webp);
    }
}
.tcoc .its-img-8{
    @media (min-width: 577px) {
        content: url(../../media/tcoc/its_md_8.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/tcoc/its_lg_8.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/tcoc/its_xl_8.webp);
    }
}
.tcoc .its-img-9{
    @media (min-width: 577px) {
        content: url(../../media/tcoc/its_md_9.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/tcoc/its_lg_9.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/tcoc/its_xl_9.webp);
    }
}
.tcoc .its-img-10{
    @media (min-width: 577px) {
        content: url(../../media/tcoc/its_md_10.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/tcoc/its_lg_10.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/tcoc/its_xl_10.webp);
    }
}
.tcoc .its-img-11{
    @media (min-width: 577px) {
        content: url(../../media/tcoc/its_md_11.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/tcoc/its_lg_11.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/tcoc/its_xl_11.webp);
    }
}
.tcoc .its-img-12{
    @media (min-width: 577px) {
        content: url(../../media/tcoc/its_md_12.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/tcoc/its_lg_12.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/tcoc/its_xl_12.webp);
    }
}
.tcoc .its-img-13{
    @media (min-width: 577px) {
        content: url(../../media/tcoc/its_md_13.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/tcoc/its_lg_13.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/tcoc/its_xl_13.webp);
    }
}

// Design System Section
.tcoc .dsys-img-1{
    @media (min-width: 577px) {
        content: url(../../media/tcoc/dsys_md_1.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/tcoc/dsys_lg_1.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/tcoc/dsys_xl_1.webp);
    }
}
.tcoc .dsys-img-2{
    @media (min-width: 577px) {
        content: url(../../media/tcoc/dsys_md_2.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/tcoc/dsys_lg_2.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/tcoc/dsys_xl_2.webp);
    }
}
.tcoc .dsys-img-3{
    @media (min-width: 577px) {
        content: url(../../media/tcoc/dsys_md_3.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/tcoc/dsys_lg_3.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/tcoc/dsys_xl_3.webp);
    }
}
.tcoc .dsys-img-4{
    @media (min-width: 577px) {
        content: url(../../media/tcoc/dsys_md_4.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/tcoc/dsys_lg_4.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/tcoc/dsys_xl_4.webp);
    }
}

// Final Screens Section
.tcoc .fsrc-img{
    @media (min-width: 577px) {
        content: url(../../media/tcoc/fsrc_md.webp);
    }
    @media (min-width: 1025px) {
        content: url(../../media/tcoc/fsrc_lg.webp);
    }
    @media (min-width: 1200px) {
        content: url(../../media/tcoc/fsrc_xl.webp);
    }
}