.side-menu{
    position: fixed;
    top: 0;
    background: $secondary-850;
    height: 0;
    overflow: hidden;
    transition: all ease-out 300ms;
    z-index: 9998;
}

.side-menu.show{
    top: 68px;
    height: 292px;
    transition: all ease-out 300ms;
}

.side-menu .icon{
    width: 24px;
    height: 24px;
}

.side-menu a{
    border-bottom: 1.5px solid $secondary-800;
}

.overlay{
    z-index: 9997;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(4px);
    background-color: rgba(0, 0, 0, 0.4);
    transition: all ease-out 300ms;
}

.overlay.show{
    position: fixed;
}