.offcanvas{
    background: $secondary-850;
    z-index: 9998;
    padding-top: 81px;
}

.modal-backdrop{
    backdrop-filter: blur(4px);
    --bs-backdrop-bg: rgba(0, 0, 0, 0.4);
    --bs-backdrop-opacity: 1;
}

.offcanvas-body{
    padding:0;
}

.offcanvas-body .icon{
    width: 24px;
    height: 24px;
}

.offcanvas-body a{
    border-bottom: 1.5px solid $secondary-800;
}