// Font Size
  h1 { font-size: 1.75rem !important; } // 28px
  h2 { font-size: 1.5rem !important; }   // 24px
  h3 { font-size: 1.25rem !important; } // 20px
  h4 { font-size: 1.125rem !important; } // 18px
  .p { font-size: 1rem; } //16px
  .p2 { font-size: 0.875rem; } //14px
  .caption { font-size: 0.75rem; } //12px

@media (min-width: 577px) {
  h1 { font-size: 2rem !important; } // 32px
  h2 { font-size: 1.5rem !important; }   // 24px
  h3 { font-size: 1.25rem !important; } // 20px
  h4 { font-size: 1.125rem !important; } // 18px
  .p { font-size: 1rem; } //16px
  .p2 { font-size: 0.875rem; } //14px
  .caption { font-size: 0.75rem; } //12px
}


@media (min-width: 769px) {
  h1 { font-size: 2.5rem !important; } // 40px
  h2 { font-size: 2rem !important; }   // 32px
  h3 { font-size: 1.5rem !important; } // 24px
  h4 { font-size: 1.25rem !important; } // 20px
  .p { font-size: 1rem; } //16px
  .p2 { font-size: 0.875rem; } //14px
  .caption { font-size: 0.75rem; } //12px
}

@media (min-width: 1200px) {
  h1 { font-size: 3rem !important; }   // 48px
  h2 { font-size: 2.5rem !important; } // 40px
  h3 { font-size: 2rem !important; }   // 32px
  h4 { font-size: 1.5rem !important; } // 24px
  .p { font-size: 1.125rem; } //18px
  .p2 { font-size: 1rem; } //16px
  .caption { font-size: 0.875rem; } //14px
}

// Line Height
  h1,h2,h3,h4,h5,h6 { line-height: 125% !important; }
  .p,.p2 {line-height: 140% !important;}
  .caption {line-height: 100% !important;}

// Font Family
@font-face {
  font-family: 'Sk-modernist';
  src: url('../../fonts/Sk-Modernist-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Sk-modernist';
  src: url('../../fonts/Sk-Modernist-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Sk-modernist';
  src: url('../../fonts/Sk-Modernist-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
