@media (min-width: 577px) {
  .uext .ogp-1 {
    content: url(../../media/uext/uext_og_md_1.webp);
  }
}
@media (min-width: 1025px) {
  .uext .ogp-1 {
    content: url(../../media/uext/uext_og_lg_1.webp);
  }
}
@media (min-width: 1200px) {
  .uext .ogp-1 {
    content: url(../../media/uext/uext_og_xl_1.webp);
  }
}

@media (min-width: 577px) {
  .uext .ogp-2 {
    content: url(../../media/uext/uext_og_md_2.webp);
  }
}
@media (min-width: 1025px) {
  .uext .ogp-2 {
    content: url(../../media/uext/uext_og_lg_2.webp);
  }
}
@media (min-width: 1200px) {
  .uext .ogp-2 {
    content: url(../../media/uext/uext_og_xl_2.webp);
  }
}

@media (min-width: 577px) {
  .uext .ogp-3 {
    content: url(../../media/uext/uext_og_md_3.webp);
  }
}
@media (min-width: 1025px) {
  .uext .ogp-3 {
    content: url(../../media/uext/uext_og_lg_3.webp);
  }
}
@media (min-width: 1200px) {
  .uext .ogp-3 {
    content: url(../../media/uext/uext_og_xl_3.webp);
  }
}

@media (min-width: 577px) {
  .uext .uxs-img-1 {
    content: url(../../media/uext/uext_uxs_md_1.webp);
  }
}
@media (min-width: 1025px) {
  .uext .uxs-img-1 {
    content: url(../../media/uext/uext_uxs_lg_1.webp);
  }
}
@media (min-width: 1200px) {
  .uext .uxs-img-1 {
    content: url(../../media/uext/uext_uxs_xl_1.webp);
  }
}

@media (min-width: 577px) {
  .uext .uxs-img-2 {
    content: url(../../media/uext/uext_uxs_md_2.webp);
  }
}
@media (min-width: 1025px) {
  .uext .uxs-img-2 {
    content: url(../../media/uext/uext_uxs_lg_2.webp);
  }
}
@media (min-width: 1200px) {
  .uext .uxs-img-2 {
    content: url(../../media/uext/uext_uxs_xl_2.webp);
  }
}

@media (min-width: 577px) {
  .uext .uxs-img-3 {
    content: url(../../media/uext/uext_uxs_md_3.webp);
  }
}
@media (min-width: 1025px) {
  .uext .uxs-img-3 {
    content: url(../../media/uext/uext_uxs_lg_3.webp);
  }
}
@media (min-width: 1200px) {
  .uext .uxs-img-3 {
    content: url(../../media/uext/uext_uxs_xl_3.webp);
  }
}

@media (min-width: 577px) {
  .uext .dss-img-1 {
    content: url(../../media/uext/uext_dss_md_1.webp);
  }
}
@media (min-width: 1025px) {
  .uext .dss-img-1 {
    content: url(../../media/uext/uext_dss_lg_1.webp);
  }
}
@media (min-width: 1200px) {
  .uext .dss-img-1 {
    content: url(../../media/uext/uext_dss_xl_1.webp);
  }
}

@media (min-width: 577px) {
  .uext .dss-img-2 {
    content: url(../../media/uext/uext_dss_md_2.webp);
  }
}
@media (min-width: 1025px) {
  .uext .dss-img-2 {
    content: url(../../media/uext/uext_dss_lg_2.webp);
  }
}
@media (min-width: 1200px) {
  .uext .dss-img-2 {
    content: url(../../media/uext/uext_dss_xl_2.webp);
  }
}

@media (min-width: 577px) {
  .uext .dss-img-3 {
    content: url(../../media/uext/uext_dss_md_3.webp);
  }
}
@media (min-width: 1025px) {
  .uext .dss-img-3 {
    content: url(../../media/uext/uext_dss_lg_3.webp);
  }
}
@media (min-width: 1200px) {
  .uext .dss-img-3 {
    content: url(../../media/uext/uext_dss_xl_3.webp);
  }
}

@media (min-width: 577px) {
  .uext .its-img-1 {
    content: url(../../media/uext/uext_its_md_1.webp);
  }
}
@media (min-width: 1025px) {
  .uext .its-img-1 {
    content: url(../../media/uext/uext_its_lg_1.webp);
  }
}
@media (min-width: 1200px) {
  .uext .its-img-1 {
    content: url(../../media/uext/uext_its_xl_1.webp);
  }
}

@media (min-width: 577px) {
  .uext .its-img-2 {
    content: url(../../media/uext/uext_its_md_2.webp);
  }
}
@media (min-width: 1025px) {
  .uext .its-img-2 {
    content: url(../../media/uext/uext_its_lg_2.webp);
  }
}
@media (min-width: 1200px) {
  .uext .its-img-2 {
    content: url(../../media/uext/uext_its_xl_2.webp);
  }
}

@media (min-width: 577px) {
  .uext .its-img-3 {
    content: url(../../media/uext/uext_its_md_3.webp);
  }
}
@media (min-width: 1025px) {
  .uext .its-img-3 {
    content: url(../../media/uext/uext_its_lg_3.webp);
  }
}
@media (min-width: 1200px) {
  .uext .its-img-3 {
    content: url(../../media/uext/uext_its_xl_3.webp);
  }
}

@media (min-width: 577px) {
  .uext .its-img-4 {
    content: url(../../media/uext/uext_its_md_4.webp);
  }
}
@media (min-width: 1025px) {
  .uext .its-img-4 {
    content: url(../../media/uext/uext_its_lg_4.webp);
  }
}
@media (min-width: 1200px) {
  .uext .its-img-4 {
    content: url(../../media/uext/uext_its_xl_4.webp);
  }
}

@media (min-width: 577px) {
  .uext .its-img-5 {
    content: url(../../media/uext/uext_its_md_5.webp);
  }
}
@media (min-width: 1025px) {
  .uext .its-img-5 {
    content: url(../../media/uext/uext_its_lg_5.webp);
  }
}
@media (min-width: 1200px) {
  .uext .its-img-5 {
    content: url(../../media/uext/uext_its_xl_5.webp);
  }
}

@media (min-width: 577px) {
  .uext .dsys-img-1 {
    content: url(../../media/uext/uext_dsys_md_1.webp);
  }
}
@media (min-width: 1025px) {
  .uext .dsys-img-1 {
    content: url(../../media/uext/uext_dsys_lg_1.webp);
  }
}
@media (min-width: 1200px) {
  .uext .dsys-img-1 {
    content: url(../../media/uext/uext_dsys_xl_1.webp);
  }
}

@media (min-width: 577px) {
  .uext .dsys-img-2 {
    content: url(../../media/uext/uext_dsys_md_2.webp);
  }
}
@media (min-width: 1025px) {
  .uext .dsys-img-2 {
    content: url(../../media/uext/uext_dsys_lg_2.webp);
  }
}
@media (min-width: 1200px) {
  .uext .dsys-img-2 {
    content: url(../../media/uext/uext_dsys_xl_2.webp);
  }
}

@media (min-width: 577px) {
  .uext .dsys-img-3 {
    content: url(../../media/uext/uext_dsys_md_3.webp);
  }
}
@media (min-width: 1025px) {
  .uext .dsys-img-3 {
    content: url(../../media/uext/uext_dsys_lg_3.webp);
  }
}
@media (min-width: 1200px) {
  .uext .dsys-img-3 {
    content: url(../../media/uext/uext_dsys_xl_3.webp);
  }
}

@media (min-width: 577px) {
  .uext .dsys-img-4 {
    content: url(../../media/uext/uext_dsys_md_4.webp);
  }
}
@media (min-width: 1025px) {
  .uext .dsys-img-4 {
    content: url(../../media/uext/uext_dsys_lg_4.webp);
  }
}
@media (min-width: 1200px) {
  .uext .dsys-img-4 {
    content: url(../../media/uext/uext_dsys_xl_4.webp);
  }
}

@media (min-width: 577px) {
  .uext .fscr-img {
    content: url(../../media/uext/uext_fscr_md.webp);
  }
}
@media (min-width: 1025px) {
  .uext .fscr-img {
    content: url(../../media/uext/uext_fscr_lg.webp);
  }
}
@media (min-width: 1200px) {
  .uext .fscr-img {
    content: url(../../media/uext/uext_fscr_xl.webp);
  }
}

@media (min-width: 577px) {
  .acrox .ogp-1 {
    content: url(../../media/acrox/og_md_1.webp);
  }
}
@media (min-width: 1025px) {
  .acrox .ogp-1 {
    content: url(../../media/acrox/og_lg_1.webp);
  }
}
@media (min-width: 1200px) {
  .acrox .ogp-1 {
    content: url(../../media/acrox/og_xl_1.webp);
  }
}

@media (min-width: 577px) {
  .acrox .ogp-2 {
    content: url(../../media/acrox/og_md_2.webp);
  }
}
@media (min-width: 1025px) {
  .acrox .ogp-2 {
    content: url(../../media/acrox/og_lg_2.webp);
  }
}
@media (min-width: 1200px) {
  .acrox .ogp-2 {
    content: url(../../media/acrox/og_xl_2.webp);
  }
}

@media (min-width: 577px) {
  .acrox .ogp-3 {
    content: url(../../media/acrox/og_md_3.webp);
  }
}
@media (min-width: 1025px) {
  .acrox .ogp-3 {
    content: url(../../media/acrox/og_lg_3.webp);
  }
}
@media (min-width: 1200px) {
  .acrox .ogp-3 {
    content: url(../../media/acrox/og_xl_3.webp);
  }
}

@media (min-width: 577px) {
  .acrox .uxs-img-1 {
    content: url(../../media/acrox/uxs_md_1.webp);
  }
}
@media (min-width: 1025px) {
  .acrox .uxs-img-1 {
    content: url(../../media/acrox/uxs_lg_1.webp);
  }
}
@media (min-width: 1200px) {
  .acrox .uxs-img-1 {
    content: url(../../media/acrox/uxs_xl_1.webp);
  }
}

@media (min-width: 577px) {
  .acrox .uxs-img-2 {
    content: url(../../media/acrox/uxs_md_2.webp);
  }
}
@media (min-width: 1025px) {
  .acrox .uxs-img-2 {
    content: url(../../media/acrox/uxs_lg_2.webp);
  }
}
@media (min-width: 1200px) {
  .acrox .uxs-img-2 {
    content: url(../../media/acrox/uxs_xl_2.webp);
  }
}

@media (min-width: 577px) {
  .acrox .uxs-img-3 {
    content: url(../../media/uext/uxs_md_3.webp);
  }
}
@media (min-width: 1025px) {
  .acrox .uxs-img-3 {
    content: url(../../media/uext/uxs_lg_3.webp);
  }
}
@media (min-width: 1200px) {
  .acrox .uxs-img-3 {
    content: url(../../media/uext/uxs_xl_3.webp);
  }
}

@media (min-width: 577px) {
  .acrox .dss-img-1 {
    content: url(../../media/acrox/dss_md_1.webp);
  }
}
@media (min-width: 1025px) {
  .acrox .dss-img-1 {
    content: url(../../media/acrox/dss_lg_1.webp);
  }
}
@media (min-width: 1200px) {
  .acrox .dss-img-1 {
    content: url(../../media/acrox/dss_lg_1.webp);
  }
}

@media (min-width: 577px) {
  .acrox .dss-img-2 {
    content: url(../../media/acrox/dss_md_2.webp);
  }
}
@media (min-width: 1025px) {
  .acrox .dss-img-2 {
    content: url(../../media/acrox/dss_lg_2.webp);
  }
}
@media (min-width: 1200px) {
  .acrox .dss-img-2 {
    content: url(../../media/acrox/dss_lg_2.webp);
  }
}

@media (min-width: 577px) {
  .acrox .dss-img-3 {
    content: url(../../media/acrox/dss_md_3.webp);
  }
}
@media (min-width: 1025px) {
  .acrox .dss-img-3 {
    content: url(../../media/acrox/dss_lg_3.webp);
  }
}
@media (min-width: 1200px) {
  .acrox .dss-img-3 {
    content: url(../../media/acrox/dss_lg_3.webp);
  }
}

@media (min-width: 577px) {
  .acrox .its-img-1 {
    content: url(../../media/acrox/its_md_1.webp);
  }
}
@media (min-width: 1025px) {
  .acrox .its-img-1 {
    content: url(../../media/acrox/its_lg_1.webp);
  }
}
@media (min-width: 1200px) {
  .acrox .its-img-1 {
    content: url(../../media/acrox/its_xl_1.webp);
  }
}

@media (min-width: 577px) {
  .acrox .its-img-2 {
    content: url(../../media/acrox/its_md_2.webp);
  }
}
@media (min-width: 1025px) {
  .acrox .its-img-2 {
    content: url(../../media/acrox/its_lg_2.webp);
  }
}
@media (min-width: 1200px) {
  .acrox .its-img-2 {
    content: url(../../media/acrox/its_xl_2.webp);
  }
}

@media (min-width: 577px) {
  .acrox .its-img-3 {
    content: url(../../media/acrox/its_md_3.webp);
  }
}
@media (min-width: 1025px) {
  .acrox .its-img-3 {
    content: url(../../media/acrox/its_lg_3.webp);
  }
}
@media (min-width: 1200px) {
  .acrox .its-img-3 {
    content: url(../../media/acrox/its_xl_3.webp);
  }
}

@media (min-width: 577px) {
  .acrox .its-img-4 {
    content: url(../../media/acrox/its_md_4.webp);
  }
}
@media (min-width: 1025px) {
  .acrox .its-img-4 {
    content: url(../../media/acrox/its_lg_4.webp);
  }
}
@media (min-width: 1200px) {
  .acrox .its-img-4 {
    content: url(../../media/acrox/its_xl_4.webp);
  }
}

@media (min-width: 577px) {
  .acrox .its-img-5 {
    content: url(../../media/acrox/its_md_5.webp);
  }
}
@media (min-width: 1025px) {
  .acrox .its-img-5 {
    content: url(../../media/acrox/its_lg_5.webp);
  }
}
@media (min-width: 1200px) {
  .acrox .its-img-5 {
    content: url(../../media/acrox/its_xl_5.webp);
  }
}

@media (min-width: 577px) {
  .acrox .dsys-img-1 {
    content: url(../../media/acrox/dsys_md_1.webp);
  }
}
@media (min-width: 1025px) {
  .acrox .dsys-img-1 {
    content: url(../../media/acrox/dsys_lg_1.webp);
  }
}
@media (min-width: 1200px) {
  .acrox .dsys-img-1 {
    content: url(../../media/acrox/dsys_xl_1.webp);
  }
}

@media (min-width: 577px) {
  .acrox .dsys-img-2 {
    content: url(../../media/acrox/dsys_md_2.webp);
  }
}
@media (min-width: 1025px) {
  .acrox .dsys-img-2 {
    content: url(../../media/acrox/dsys_lg_2.webp);
  }
}
@media (min-width: 1200px) {
  .acrox .dsys-img-2 {
    content: url(../../media/acrox/dsys_xl_2.webp);
  }
}

@media (min-width: 577px) {
  .acrox .dsys-img-3 {
    content: url(../../media/acrox/dsys_md_3.webp);
  }
}
@media (min-width: 1025px) {
  .acrox .dsys-img-3 {
    content: url(../../media/acrox/dsys_lg_3.webp);
  }
}
@media (min-width: 1200px) {
  .acrox .dsys-img-3 {
    content: url(../../media/acrox/dsys_xl_3.webp);
  }
}

@media (min-width: 577px) {
  .acrox .dsys-img-4 {
    content: url(../../media/acrox/dsys_md_4.webp);
  }
}
@media (min-width: 1025px) {
  .acrox .dsys-img-4 {
    content: url(../../media/acrox/dsys_lg_4.webp);
  }
}
@media (min-width: 1200px) {
  .acrox .dsys-img-4 {
    content: url(../../media/acrox/dsys_xl_4.webp);
  }
}

@media (min-width: 577px) {
  .acrox .fscr-img {
    content: url(../../media/acrox/fscr_md.webp);
  }
}
@media (min-width: 1025px) {
  .acrox .fscr-img {
    content: url(../../media/acrox/fscr_lg.webp);
  }
}
@media (min-width: 1200px) {
  .acrox .fscr-img {
    content: url(../../media/acrox/fscr_xl.webp);
  }
}

/*# sourceMappingURL=case-details-img.css.map */
