@media (min-width: 577px) {
  .uext .ogp-1 {
    content: url(../../media/uext/og_md_1.webp);
  }
}
@media (min-width: 1025px) {
  .uext .ogp-1 {
    content: url(../../media/uext/og_lg_1.webp);
  }
}
@media (min-width: 1200px) {
  .uext .ogp-1 {
    content: url(../../media/uext/og_xl_1.webp);
  }
}

@media (min-width: 577px) {
  .uext .ogp-2 {
    content: url(../../media/uext/og_md_2.webp);
  }
}
@media (min-width: 1025px) {
  .uext .ogp-2 {
    content: url(../../media/uext/og_lg_2.webp);
  }
}
@media (min-width: 1200px) {
  .uext .ogp-2 {
    content: url(../../media/uext/og_xl_2.webp);
  }
}

@media (min-width: 577px) {
  .uext .ogp-3 {
    content: url(../../media/uext/og_md_3.webp);
  }
}
@media (min-width: 1025px) {
  .uext .ogp-3 {
    content: url(../../media/uext/og_lg_3.webp);
  }
}
@media (min-width: 1200px) {
  .uext .ogp-3 {
    content: url(../../media/uext/og_xl_3.webp);
  }
}

@media (min-width: 577px) {
  .uext .uxs-img-1 {
    content: url(../../media/uext/uxs_md_1.webp);
  }
}
@media (min-width: 1025px) {
  .uext .uxs-img-1 {
    content: url(../../media/uext/uxs_lg_1.webp);
  }
}
@media (min-width: 1200px) {
  .uext .uxs-img-1 {
    content: url(../../media/uext/uxs_xl_1.webp);
  }
}

@media (min-width: 577px) {
  .uext .uxs-img-2 {
    content: url(../../media/uext/uxs_md_2.webp);
  }
}
@media (min-width: 1025px) {
  .uext .uxs-img-2 {
    content: url(../../media/uext/uxs_lg_2.webp);
  }
}
@media (min-width: 1200px) {
  .uext .uxs-img-2 {
    content: url(../../media/uext/uxs_xl_2.webp);
  }
}

@media (min-width: 577px) {
  .uext .uxs-img-3 {
    content: url(../../media/uext/uxs_md_3.webp);
  }
}
@media (min-width: 1025px) {
  .uext .uxs-img-3 {
    content: url(../../media/uext/uxs_lg_3.webp);
  }
}
@media (min-width: 1200px) {
  .uext .uxs-img-3 {
    content: url(../../media/uext/uxs_xl_3.webp);
  }
}

@media (min-width: 577px) {
  .uext .dss-img-1 {
    content: url(../../media/uext/dss_md_1.webp);
  }
}
@media (min-width: 1025px) {
  .uext .dss-img-1 {
    content: url(../../media/uext/dss_lg_1.webp);
  }
}
@media (min-width: 1200px) {
  .uext .dss-img-1 {
    content: url(../../media/uext/dss_xl_1.webp);
  }
}

@media (min-width: 577px) {
  .uext .dss-img-2 {
    content: url(../../media/uext/dss_md_2.webp);
  }
}
@media (min-width: 1025px) {
  .uext .dss-img-2 {
    content: url(../../media/uext/dss_lg_2.webp);
  }
}
@media (min-width: 1200px) {
  .uext .dss-img-2 {
    content: url(../../media/uext/dss_xl_2.webp);
  }
}

@media (min-width: 577px) {
  .uext .dss-img-3 {
    content: url(../../media/uext/dss_md_3.webp);
  }
}
@media (min-width: 1025px) {
  .uext .dss-img-3 {
    content: url(../../media/uext/dss_lg_3.webp);
  }
}
@media (min-width: 1200px) {
  .uext .dss-img-3 {
    content: url(../../media/uext/dss_xl_3.webp);
  }
}

@media (min-width: 577px) {
  .uext .its-img-1 {
    content: url(../../media/uext/its_md_1.webp);
  }
}
@media (min-width: 1025px) {
  .uext .its-img-1 {
    content: url(../../media/uext/its_lg_1.webp);
  }
}
@media (min-width: 1200px) {
  .uext .its-img-1 {
    content: url(../../media/uext/its_xl_1.webp);
  }
}

@media (min-width: 577px) {
  .uext .its-img-2 {
    content: url(../../media/uext/its_md_2.webp);
  }
}
@media (min-width: 1025px) {
  .uext .its-img-2 {
    content: url(../../media/uext/its_lg_2.webp);
  }
}
@media (min-width: 1200px) {
  .uext .its-img-2 {
    content: url(../../media/uext/its_xl_2.webp);
  }
}

@media (min-width: 577px) {
  .uext .its-img-3 {
    content: url(../../media/uext/its_md_3.webp);
  }
}
@media (min-width: 1025px) {
  .uext .its-img-3 {
    content: url(../../media/uext/its_lg_3.webp);
  }
}
@media (min-width: 1200px) {
  .uext .its-img-3 {
    content: url(../../media/uext/its_xl_3.webp);
  }
}

@media (min-width: 577px) {
  .uext .its-img-4 {
    content: url(../../media/uext/its_md_4.webp);
  }
}
@media (min-width: 1025px) {
  .uext .its-img-4 {
    content: url(../../media/uext/its_lg_4.webp);
  }
}
@media (min-width: 1200px) {
  .uext .its-img-4 {
    content: url(../../media/uext/its_xl_4.webp);
  }
}

@media (min-width: 577px) {
  .uext .its-img-5 {
    content: url(../../media/uext/its_md_5.webp);
  }
}
@media (min-width: 1025px) {
  .uext .its-img-5 {
    content: url(../../media/uext/its_lg_5.webp);
  }
}
@media (min-width: 1200px) {
  .uext .its-img-5 {
    content: url(../../media/uext/its_xl_5.webp);
  }
}

@media (min-width: 577px) {
  .uext .dsys-img-1 {
    content: url(../../media/uext/dsys_md_1.webp);
  }
}
@media (min-width: 1025px) {
  .uext .dsys-img-1 {
    content: url(../../media/uext/dsys_lg_1.webp);
  }
}
@media (min-width: 1200px) {
  .uext .dsys-img-1 {
    content: url(../../media/uext/dsys_xl_1.webp);
  }
}

@media (min-width: 577px) {
  .uext .dsys-img-2 {
    content: url(../../media/uext/dsys_md_2.webp);
  }
}
@media (min-width: 1025px) {
  .uext .dsys-img-2 {
    content: url(../../media/uext/dsys_lg_2.webp);
  }
}
@media (min-width: 1200px) {
  .uext .dsys-img-2 {
    content: url(../../media/uext/dsys_xl_2.webp);
  }
}

@media (min-width: 577px) {
  .uext .dsys-img-3 {
    content: url(../../media/uext/dsys_md_3.webp);
  }
}
@media (min-width: 1025px) {
  .uext .dsys-img-3 {
    content: url(../../media/uext/dsys_lg_3.webp);
  }
}
@media (min-width: 1200px) {
  .uext .dsys-img-3 {
    content: url(../../media/uext/dsys_xl_3.webp);
  }
}

@media (min-width: 577px) {
  .uext .dsys-img-4 {
    content: url(../../media/uext/dsys_md_4.webp);
  }
}
@media (min-width: 1025px) {
  .uext .dsys-img-4 {
    content: url(../../media/uext/dsys_lg_4.webp);
  }
}
@media (min-width: 1200px) {
  .uext .dsys-img-4 {
    content: url(../../media/uext/dsys_xl_4.webp);
  }
}

@media (min-width: 577px) {
  .uext .fsrc-img {
    content: url(../../media/uext/fsrc_md.webp);
  }
}
@media (min-width: 1025px) {
  .uext .fsrc-img {
    content: url(../../media/uext/fsrc_lg.webp);
  }
}
@media (min-width: 1200px) {
  .uext .fsrc-img {
    content: url(../../media/uext/fsrc_xl.webp);
  }
}

@media (min-width: 577px) {
  .acrox .ogp-1 {
    content: url(../../media/acrox/og_md_1.webp);
  }
}
@media (min-width: 1025px) {
  .acrox .ogp-1 {
    content: url(../../media/acrox/og_lg_1.webp);
  }
}
@media (min-width: 1200px) {
  .acrox .ogp-1 {
    content: url(../../media/acrox/og_xl_1.webp);
  }
}

@media (min-width: 577px) {
  .acrox .ogp-2 {
    content: url(../../media/acrox/og_md_2.webp);
  }
}
@media (min-width: 1025px) {
  .acrox .ogp-2 {
    content: url(../../media/acrox/og_lg_2.webp);
  }
}
@media (min-width: 1200px) {
  .acrox .ogp-2 {
    content: url(../../media/acrox/og_xl_2.webp);
  }
}

@media (min-width: 577px) {
  .acrox .ogp-3 {
    content: url(../../media/acrox/og_md_3.webp);
  }
}
@media (min-width: 1025px) {
  .acrox .ogp-3 {
    content: url(../../media/acrox/og_lg_3.webp);
  }
}
@media (min-width: 1200px) {
  .acrox .ogp-3 {
    content: url(../../media/acrox/og_xl_3.webp);
  }
}

@media (min-width: 577px) {
  .acrox .uxs-img-1 {
    content: url(../../media/acrox/uxs_md_1.webp);
  }
}
@media (min-width: 1025px) {
  .acrox .uxs-img-1 {
    content: url(../../media/acrox/uxs_lg_1.webp);
  }
}
@media (min-width: 1200px) {
  .acrox .uxs-img-1 {
    content: url(../../media/acrox/uxs_xl_1.webp);
  }
}

@media (min-width: 577px) {
  .acrox .uxs-img-2 {
    content: url(../../media/acrox/uxs_md_2.webp);
  }
}
@media (min-width: 1025px) {
  .acrox .uxs-img-2 {
    content: url(../../media/acrox/uxs_lg_2.webp);
  }
}
@media (min-width: 1200px) {
  .acrox .uxs-img-2 {
    content: url(../../media/acrox/uxs_xl_2.webp);
  }
}

@media (min-width: 577px) {
  .acrox .uxs-img-3 {
    content: url(../../media/acrox/uxs_md_3.webp);
  }
}
@media (min-width: 1025px) {
  .acrox .uxs-img-3 {
    content: url(../../media/acrox/uxs_lg_3.webp);
  }
}
@media (min-width: 1200px) {
  .acrox .uxs-img-3 {
    content: url(../../media/acrox/uxs_xl_3.webp);
  }
}

@media (min-width: 577px) {
  .acrox .uxs-img-4 {
    content: url(../../media/acrox/uxs_md_4.webp);
  }
}
@media (min-width: 1025px) {
  .acrox .uxs-img-4 {
    content: url(../../media/acrox/uxs_lg_4.webp);
  }
}
@media (min-width: 1200px) {
  .acrox .uxs-img-4 {
    content: url(../../media/acrox/uxs_xl_4.webp);
  }
}

@media (min-width: 577px) {
  .acrox .uxs-img-5 {
    content: url(../../media/acrox/uxs_md_5.webp);
  }
}
@media (min-width: 1025px) {
  .acrox .uxs-img-5 {
    content: url(../../media/acrox/uxs_lg_5.webp);
  }
}
@media (min-width: 1200px) {
  .acrox .uxs-img-5 {
    content: url(../../media/acrox/uxs_xl_5.webp);
  }
}

@media (min-width: 577px) {
  .acrox .dss-img-1 {
    content: url(../../media/acrox/dss_md_1.webp);
  }
}
@media (min-width: 1025px) {
  .acrox .dss-img-1 {
    content: url(../../media/acrox/dss_lg_1.webp);
  }
}
@media (min-width: 1200px) {
  .acrox .dss-img-1 {
    content: url(../../media/acrox/dss_lg_1.webp);
  }
}

@media (min-width: 577px) {
  .acrox .dss-img-2 {
    content: url(../../media/acrox/dss_md_2.webp);
  }
}
@media (min-width: 1025px) {
  .acrox .dss-img-2 {
    content: url(../../media/acrox/dss_lg_2.webp);
  }
}
@media (min-width: 1200px) {
  .acrox .dss-img-2 {
    content: url(../../media/acrox/dss_lg_2.webp);
  }
}

@media (min-width: 577px) {
  .acrox .dss-img-3 {
    content: url(../../media/acrox/dss_md_3.webp);
  }
}
@media (min-width: 1025px) {
  .acrox .dss-img-3 {
    content: url(../../media/acrox/dss_lg_3.webp);
  }
}
@media (min-width: 1200px) {
  .acrox .dss-img-3 {
    content: url(../../media/acrox/dss_lg_3.webp);
  }
}

@media (min-width: 577px) {
  .acrox .its-img-1 {
    content: url(../../media/acrox/its_md_1.webp);
  }
}
@media (min-width: 1025px) {
  .acrox .its-img-1 {
    content: url(../../media/acrox/its_lg_1.webp);
  }
}
@media (min-width: 1200px) {
  .acrox .its-img-1 {
    content: url(../../media/acrox/its_xl_1.webp);
  }
}

@media (min-width: 577px) {
  .acrox .its-img-2 {
    content: url(../../media/acrox/its_md_2.webp);
  }
}
@media (min-width: 1025px) {
  .acrox .its-img-2 {
    content: url(../../media/acrox/its_lg_2.webp);
  }
}
@media (min-width: 1200px) {
  .acrox .its-img-2 {
    content: url(../../media/acrox/its_xl_2.webp);
  }
}

@media (min-width: 577px) {
  .acrox .its-img-3 {
    content: url(../../media/acrox/its_md_3.webp);
  }
}
@media (min-width: 1025px) {
  .acrox .its-img-3 {
    content: url(../../media/acrox/its_lg_3.webp);
  }
}
@media (min-width: 1200px) {
  .acrox .its-img-3 {
    content: url(../../media/acrox/its_xl_3.webp);
  }
}

@media (min-width: 577px) {
  .acrox .its-img-4 {
    content: url(../../media/acrox/its_md_4.webp);
  }
}
@media (min-width: 1025px) {
  .acrox .its-img-4 {
    content: url(../../media/acrox/its_lg_4.webp);
  }
}
@media (min-width: 1200px) {
  .acrox .its-img-4 {
    content: url(../../media/acrox/its_xl_4.webp);
  }
}

@media (min-width: 577px) {
  .acrox .its-img-5 {
    content: url(../../media/acrox/its_md_5.webp);
  }
}
@media (min-width: 1025px) {
  .acrox .its-img-5 {
    content: url(../../media/acrox/its_lg_5.webp);
  }
}
@media (min-width: 1200px) {
  .acrox .its-img-5 {
    content: url(../../media/acrox/its_xl_5.webp);
  }
}

@media (min-width: 577px) {
  .acrox .its-img-6 {
    content: url(../../media/acrox/its_md_6.webp);
  }
}
@media (min-width: 1025px) {
  .acrox .its-img-6 {
    content: url(../../media/acrox/its_lg_6.webp);
  }
}
@media (min-width: 1200px) {
  .acrox .its-img-6 {
    content: url(../../media/acrox/its_xl_6.webp);
  }
}

@media (min-width: 577px) {
  .acrox .its-img-7 {
    content: url(../../media/acrox/its_md_7.webp);
  }
}
@media (min-width: 1025px) {
  .acrox .its-img-7 {
    content: url(../../media/acrox/its_lg_7.webp);
  }
}
@media (min-width: 1200px) {
  .acrox .its-img-7 {
    content: url(../../media/acrox/its_xl_7.webp);
  }
}

@media (min-width: 577px) {
  .acrox .dsys-img-1 {
    content: url(../../media/acrox/dsys_md_1.webp);
  }
}
@media (min-width: 1025px) {
  .acrox .dsys-img-1 {
    content: url(../../media/acrox/dsys_lg_1.webp);
  }
}
@media (min-width: 1200px) {
  .acrox .dsys-img-1 {
    content: url(../../media/acrox/dsys_xl_1.webp);
  }
}

@media (min-width: 577px) {
  .acrox .dsys-img-2 {
    content: url(../../media/acrox/dsys_md_2.webp);
  }
}
@media (min-width: 1025px) {
  .acrox .dsys-img-2 {
    content: url(../../media/acrox/dsys_lg_2.webp);
  }
}
@media (min-width: 1200px) {
  .acrox .dsys-img-2 {
    content: url(../../media/acrox/dsys_xl_2.webp);
  }
}

@media (min-width: 577px) {
  .acrox .dsys-img-3 {
    content: url(../../media/acrox/dsys_md_3.webp);
  }
}
@media (min-width: 1025px) {
  .acrox .dsys-img-3 {
    content: url(../../media/acrox/dsys_lg_3.webp);
  }
}
@media (min-width: 1200px) {
  .acrox .dsys-img-3 {
    content: url(../../media/acrox/dsys_xl_3.webp);
  }
}

@media (min-width: 577px) {
  .acrox .dsys-img-4 {
    content: url(../../media/acrox/dsys_md_4.webp);
  }
}
@media (min-width: 1025px) {
  .acrox .dsys-img-4 {
    content: url(../../media/acrox/dsys_lg_4.webp);
  }
}
@media (min-width: 1200px) {
  .acrox .dsys-img-4 {
    content: url(../../media/acrox/dsys_xl_4.webp);
  }
}

@media (min-width: 577px) {
  .acrox .fsrc-img {
    content: url(../../media/acrox/fsrc_md.webp);
  }
}
@media (min-width: 1025px) {
  .acrox .fsrc-img {
    content: url(../../media/acrox/fsrc_lg.webp);
  }
}
@media (min-width: 1200px) {
  .acrox .fsrc-img {
    content: url(../../media/acrox/fsrc_xl.webp);
  }
}

@media (min-width: 577px) {
  .zot .ogp-1 {
    content: url(../../media/zot/og_md_1.webp);
  }
}
@media (min-width: 1025px) {
  .zot .ogp-1 {
    content: url(../../media/zot/og_lg_1.webp);
  }
}
@media (min-width: 1200px) {
  .zot .ogp-1 {
    content: url(../../media/zot/og_xl_1.webp);
  }
}

@media (min-width: 577px) {
  .zot .ogp-2 {
    content: url(../../media/zot/og_md_2.webp);
  }
}
@media (min-width: 1025px) {
  .zot .ogp-2 {
    content: url(../../media/zot/og_lg_2.webp);
  }
}
@media (min-width: 1200px) {
  .zot .ogp-2 {
    content: url(../../media/zot/og_xl_2.webp);
  }
}

@media (min-width: 577px) {
  .zot .ogp-3 {
    content: url(../../media/zot/og_md_3.webp);
  }
}
@media (min-width: 1025px) {
  .zot .ogp-3 {
    content: url(../../media/zot/og_lg_3.webp);
  }
}
@media (min-width: 1200px) {
  .zot .ogp-3 {
    content: url(../../media/zot/og_xl_3.webp);
  }
}

@media (min-width: 577px) {
  .zot .uxs-img-1 {
    content: url(../../media/zot/uxs_md_1.webp);
  }
}
@media (min-width: 1025px) {
  .zot .uxs-img-1 {
    content: url(../../media/zot/uxs_lg_1.webp);
  }
}
@media (min-width: 1200px) {
  .zot .uxs-img-1 {
    content: url(../../media/zot/uxs_xl_1.webp);
  }
}

@media (min-width: 577px) {
  .zot .uxs-img-2 {
    content: url(../../media/zot/uxs_md_2.webp);
  }
}
@media (min-width: 1025px) {
  .zot .uxs-img-2 {
    content: url(../../media/zot/uxs_lg_2.webp);
  }
}
@media (min-width: 1200px) {
  .zot .uxs-img-2 {
    content: url(../../media/zot/uxs_xl_2.webp);
  }
}

@media (min-width: 577px) {
  .zot .uxs-img-3 {
    content: url(../../media/zot/uxs_md_3.webp);
  }
}
@media (min-width: 1025px) {
  .zot .uxs-img-3 {
    content: url(../../media/zot/uxs_lg_3.webp);
  }
}
@media (min-width: 1200px) {
  .zot .uxs-img-3 {
    content: url(../../media/zot/uxs_xl_3.webp);
  }
}

@media (min-width: 577px) {
  .zot .uxs-img-4 {
    content: url(../../media/zot/uxs_md_4.webp);
  }
}
@media (min-width: 1025px) {
  .zot .uxs-img-4 {
    content: url(../../media/zot/uxs_lg_4.webp);
  }
}
@media (min-width: 1200px) {
  .zot .uxs-img-4 {
    content: url(../../media/zot/uxs_xl_4.webp);
  }
}

@media (min-width: 577px) {
  .zot .uxs-img-5 {
    content: url(../../media/zot/uxs_md_5.webp);
  }
}
@media (min-width: 1025px) {
  .zot .uxs-img-5 {
    content: url(../../media/zot/uxs_lg_5.webp);
  }
}
@media (min-width: 1200px) {
  .zot .uxs-img-5 {
    content: url(../../media/zot/uxs_xl_5.webp);
  }
}

@media (min-width: 577px) {
  .zot .dss-img-1 {
    content: url(../../media/zot/dss_md_1.webp);
  }
}
@media (min-width: 1025px) {
  .zot .dss-img-1 {
    content: url(../../media/zot/dss_lg_1.webp);
  }
}
@media (min-width: 1200px) {
  .zot .dss-img-1 {
    content: url(../../media/zot/dss_lg_1.webp);
  }
}

@media (min-width: 577px) {
  .zot .dss-img-2 {
    content: url(../../media/zot/dss_md_2.webp);
  }
}
@media (min-width: 1025px) {
  .zot .dss-img-2 {
    content: url(../../media/zot/dss_lg_2.webp);
  }
}
@media (min-width: 1200px) {
  .zot .dss-img-2 {
    content: url(../../media/zot/dss_lg_2.webp);
  }
}

@media (min-width: 577px) {
  .zot .dss-img-3 {
    content: url(../../media/zot/dss_md_3.webp);
  }
}
@media (min-width: 1025px) {
  .zot .dss-img-3 {
    content: url(../../media/zot/dss_lg_3.webp);
  }
}
@media (min-width: 1200px) {
  .zot .dss-img-3 {
    content: url(../../media/zot/dss_lg_3.webp);
  }
}

@media (min-width: 577px) {
  .zot .its-img-1 {
    content: url(../../media/zot/its_md_1.webp);
  }
}
@media (min-width: 1025px) {
  .zot .its-img-1 {
    content: url(../../media/zot/its_lg_1.webp);
  }
}
@media (min-width: 1200px) {
  .zot .its-img-1 {
    content: url(../../media/zot/its_xl_1.webp);
  }
}

@media (min-width: 577px) {
  .zot .its-img-2 {
    content: url(../../media/zot/its_md_2.webp);
  }
}
@media (min-width: 1025px) {
  .zot .its-img-2 {
    content: url(../../media/zot/its_lg_2.webp);
  }
}
@media (min-width: 1200px) {
  .zot .its-img-2 {
    content: url(../../media/zot/its_xl_2.webp);
  }
}

@media (min-width: 577px) {
  .zot .its-img-3 {
    content: url(../../media/zot/its_md_3.webp);
  }
}
@media (min-width: 1025px) {
  .zot .its-img-3 {
    content: url(../../media/zot/its_lg_3.webp);
  }
}
@media (min-width: 1200px) {
  .zot .its-img-3 {
    content: url(../../media/zot/its_xl_3.webp);
  }
}

@media (min-width: 577px) {
  .zot .its-img-4 {
    content: url(../../media/zot/its_md_4.webp);
  }
}
@media (min-width: 1025px) {
  .zot .its-img-4 {
    content: url(../../media/zot/its_lg_4.webp);
  }
}
@media (min-width: 1200px) {
  .zot .its-img-4 {
    content: url(../../media/zot/its_xl_4.webp);
  }
}

@media (min-width: 577px) {
  .zot .its-img-5 {
    content: url(../../media/zot/its_md_5.webp);
  }
}
@media (min-width: 1025px) {
  .zot .its-img-5 {
    content: url(../../media/zot/its_lg_5.webp);
  }
}
@media (min-width: 1200px) {
  .zot .its-img-5 {
    content: url(../../media/zot/its_xl_5.webp);
  }
}

@media (min-width: 577px) {
  .zot .its-img-6 {
    content: url(../../media/zot/its_md_6.webp);
  }
}
@media (min-width: 1025px) {
  .zot .its-img-6 {
    content: url(../../media/zot/its_lg_6.webp);
  }
}
@media (min-width: 1200px) {
  .zot .its-img-6 {
    content: url(../../media/zot/its_xl_6.webp);
  }
}

@media (min-width: 577px) {
  .zot .its-img-7 {
    content: url(../../media/zot/its_md_7.webp);
  }
}
@media (min-width: 1025px) {
  .zot .its-img-7 {
    content: url(../../media/zot/its_lg_7.webp);
  }
}
@media (min-width: 1200px) {
  .zot .its-img-7 {
    content: url(../../media/zot/its_xl_7.webp);
  }
}

@media (min-width: 577px) {
  .zot .dsys-img-1 {
    content: url(../../media/zot/dsys_md_1.webp);
  }
}
@media (min-width: 1025px) {
  .zot .dsys-img-1 {
    content: url(../../media/zot/dsys_lg_1.webp);
  }
}
@media (min-width: 1200px) {
  .zot .dsys-img-1 {
    content: url(../../media/zot/dsys_xl_1.webp);
  }
}

@media (min-width: 577px) {
  .zot .dsys-img-2 {
    content: url(../../media/zot/dsys_md_2.webp);
  }
}
@media (min-width: 1025px) {
  .zot .dsys-img-2 {
    content: url(../../media/zot/dsys_lg_2.webp);
  }
}
@media (min-width: 1200px) {
  .zot .dsys-img-2 {
    content: url(../../media/zot/dsys_xl_2.webp);
  }
}

@media (min-width: 577px) {
  .zot .dsys-img-3 {
    content: url(../../media/zot/dsys_md_3.webp);
  }
}
@media (min-width: 1025px) {
  .zot .dsys-img-3 {
    content: url(../../media/zot/dsys_lg_3.webp);
  }
}
@media (min-width: 1200px) {
  .zot .dsys-img-3 {
    content: url(../../media/zot/dsys_xl_3.webp);
  }
}

@media (min-width: 577px) {
  .zot .dsys-img-4 {
    content: url(../../media/zot/dsys_md_4.webp);
  }
}
@media (min-width: 1025px) {
  .zot .dsys-img-4 {
    content: url(../../media/zot/dsys_lg_4.webp);
  }
}
@media (min-width: 1200px) {
  .zot .dsys-img-4 {
    content: url(../../media/zot/dsys_xl_4.webp);
  }
}

@media (min-width: 577px) {
  .zot .dsys-img-5 {
    content: url(../../media/zot/dsys_md_5.webp);
  }
}
@media (min-width: 1025px) {
  .zot .dsys-img-5 {
    content: url(../../media/zot/dsys_lg_5.webp);
  }
}
@media (min-width: 1200px) {
  .zot .dsys-img-5 {
    content: url(../../media/zot/dsys_xl_5.webp);
  }
}

@media (min-width: 577px) {
  .zot .dsys-img-6 {
    content: url(../../media/zot/dsys_md_6.webp);
  }
}
@media (min-width: 1025px) {
  .zot .dsys-img-6 {
    content: url(../../media/zot/dsys_lg_6.webp);
  }
}
@media (min-width: 1200px) {
  .zot .dsys-img-6 {
    content: url(../../media/zot/dsys_xl_6.webp);
  }
}

@media (min-width: 577px) {
  .zot .dsys-img-7 {
    content: url(../../media/zot/dsys_md_7.webp);
  }
}
@media (min-width: 1025px) {
  .zot .dsys-img-7 {
    content: url(../../media/zot/dsys_lg_7.webp);
  }
}
@media (min-width: 1200px) {
  .zot .dsys-img-7 {
    content: url(../../media/zot/dsys_xl_7.webp);
  }
}

@media (min-width: 577px) {
  .zot .dsys-img-8 {
    content: url(../../media/zot/dsys_md_8.webp);
  }
}
@media (min-width: 1025px) {
  .zot .dsys-img-8 {
    content: url(../../media/zot/dsys_lg_8.webp);
  }
}
@media (min-width: 1200px) {
  .zot .dsys-img-8 {
    content: url(../../media/zot/dsys_xl_8.webp);
  }
}

@media (min-width: 577px) {
  .zot .fsrc-img {
    content: url(../../media/zot/fsrc_md.webp);
  }
}
@media (min-width: 1025px) {
  .zot .fsrc-img {
    content: url(../../media/zot/fsrc_lg.webp);
  }
}
@media (min-width: 1200px) {
  .zot .fsrc-img {
    content: url(../../media/zot/fsrc_xl.webp);
  }
}

@media (min-width: 577px) {
  .churchplus .ogp-1 {
    content: url(../../media/churchplus/og_md_1.webp);
  }
}
@media (min-width: 1025px) {
  .churchplus .ogp-1 {
    content: url(../../media/churchplus/og_lg_1.webp);
  }
}
@media (min-width: 1200px) {
  .churchplus .ogp-1 {
    content: url(../../media/churchplus/og_xl_1.webp);
  }
}

@media (min-width: 577px) {
  .churchplus .ogp-2 {
    content: url(../../media/churchplus/og_md_2.webp);
  }
}
@media (min-width: 1025px) {
  .churchplus .ogp-2 {
    content: url(../../media/churchplus/og_lg_2.webp);
  }
}
@media (min-width: 1200px) {
  .churchplus .ogp-2 {
    content: url(../../media/churchplus/og_xl_2.webp);
  }
}

@media (min-width: 577px) {
  .churchplus .ogp-3 {
    content: url(../../media/churchplus/og_md_3.webp);
  }
}
@media (min-width: 1025px) {
  .churchplus .ogp-3 {
    content: url(../../media/churchplus/og_lg_3.webp);
  }
}
@media (min-width: 1200px) {
  .churchplus .ogp-3 {
    content: url(../../media/churchplus/og_xl_3.webp);
  }
}

@media (min-width: 577px) {
  .churchplus .uxs-img-1 {
    content: url(../../media/churchplus/uxs_md_1.webp);
  }
}
@media (min-width: 1025px) {
  .churchplus .uxs-img-1 {
    content: url(../../media/churchplus/uxs_lg_1.webp);
  }
}
@media (min-width: 1200px) {
  .churchplus .uxs-img-1 {
    content: url(../../media/churchplus/uxs_xl_1.webp);
  }
}

@media (min-width: 577px) {
  .churchplus .uxs-img-2 {
    content: url(../../media/churchplus/uxs_md_2.webp);
  }
}
@media (min-width: 1025px) {
  .churchplus .uxs-img-2 {
    content: url(../../media/churchplus/uxs_lg_2.webp);
  }
}
@media (min-width: 1200px) {
  .churchplus .uxs-img-2 {
    content: url(../../media/churchplus/uxs_xl_2.webp);
  }
}

@media (min-width: 577px) {
  .churchplus .uxs-img-3 {
    content: url(../../media/churchplus/uxs_md_3.webp);
  }
}
@media (min-width: 1025px) {
  .churchplus .uxs-img-3 {
    content: url(../../media/churchplus/uxs_lg_3.webp);
  }
}
@media (min-width: 1200px) {
  .churchplus .uxs-img-3 {
    content: url(../../media/churchplus/uxs_xl_3.webp);
  }
}

@media (min-width: 577px) {
  .churchplus .uxs-img-4 {
    content: url(../../media/churchplus/uxs_md_4.webp);
  }
}
@media (min-width: 1025px) {
  .churchplus .uxs-img-4 {
    content: url(../../media/churchplus/uxs_lg_4.webp);
  }
}
@media (min-width: 1200px) {
  .churchplus .uxs-img-4 {
    content: url(../../media/churchplus/uxs_xl_4.webp);
  }
}

@media (min-width: 577px) {
  .churchplus .uxs-img-5 {
    content: url(../../media/churchplus/uxs_md_5.webp);
  }
}
@media (min-width: 1025px) {
  .churchplus .uxs-img-5 {
    content: url(../../media/churchplus/uxs_lg_5.webp);
  }
}
@media (min-width: 1200px) {
  .churchplus .uxs-img-5 {
    content: url(../../media/churchplus/uxs_xl_5.webp);
  }
}

@media (min-width: 577px) {
  .churchplus .dss-img-1 {
    content: url(../../media/churchplus/dss_md_1.webp);
  }
}
@media (min-width: 1025px) {
  .churchplus .dss-img-1 {
    content: url(../../media/churchplus/dss_lg_1.webp);
  }
}
@media (min-width: 1200px) {
  .churchplus .dss-img-1 {
    content: url(../../media/churchplus/dss_lg_1.webp);
  }
}

@media (min-width: 577px) {
  .churchplus .dss-img-2 {
    content: url(../../media/churchplus/dss_md_2.webp);
  }
}
@media (min-width: 1025px) {
  .churchplus .dss-img-2 {
    content: url(../../media/churchplus/dss_lg_2.webp);
  }
}
@media (min-width: 1200px) {
  .churchplus .dss-img-2 {
    content: url(../../media/churchplus/dss_lg_2.webp);
  }
}

@media (min-width: 577px) {
  .churchplus .dss-img-3 {
    content: url(../../media/churchplus/dss_md_3.webp);
  }
}
@media (min-width: 1025px) {
  .churchplus .dss-img-3 {
    content: url(../../media/churchplus/dss_lg_3.webp);
  }
}
@media (min-width: 1200px) {
  .churchplus .dss-img-3 {
    content: url(../../media/churchplus/dss_lg_3.webp);
  }
}

@media (min-width: 577px) {
  .churchplus .its-img-1 {
    content: url(../../media/churchplus/its_md_1.webp);
  }
}
@media (min-width: 1025px) {
  .churchplus .its-img-1 {
    content: url(../../media/churchplus/its_lg_1.webp);
  }
}
@media (min-width: 1200px) {
  .churchplus .its-img-1 {
    content: url(../../media/churchplus/its_xl_1.webp);
  }
}

@media (min-width: 577px) {
  .churchplus .its-img-2 {
    content: url(../../media/churchplus/its_md_2.webp);
  }
}
@media (min-width: 1025px) {
  .churchplus .its-img-2 {
    content: url(../../media/churchplus/its_lg_2.webp);
  }
}
@media (min-width: 1200px) {
  .churchplus .its-img-2 {
    content: url(../../media/churchplus/its_xl_2.webp);
  }
}

@media (min-width: 577px) {
  .churchplus .its-img-3 {
    content: url(../../media/churchplus/its_md_3.webp);
  }
}
@media (min-width: 1025px) {
  .churchplus .its-img-3 {
    content: url(../../media/churchplus/its_lg_3.webp);
  }
}
@media (min-width: 1200px) {
  .churchplus .its-img-3 {
    content: url(../../media/churchplus/its_xl_3.webp);
  }
}

@media (min-width: 577px) {
  .churchplus .its-img-4 {
    content: url(../../media/churchplus/its_md_4.webp);
  }
}
@media (min-width: 1025px) {
  .churchplus .its-img-4 {
    content: url(../../media/churchplus/its_lg_4.webp);
  }
}
@media (min-width: 1200px) {
  .churchplus .its-img-4 {
    content: url(../../media/churchplus/its_xl_4.webp);
  }
}

@media (min-width: 577px) {
  .churchplus .its-img-5 {
    content: url(../../media/churchplus/its_md_5.webp);
  }
}
@media (min-width: 1025px) {
  .churchplus .its-img-5 {
    content: url(../../media/churchplus/its_lg_5.webp);
  }
}
@media (min-width: 1200px) {
  .churchplus .its-img-5 {
    content: url(../../media/churchplus/its_xl_5.webp);
  }
}

@media (min-width: 577px) {
  .churchplus .its-img-6 {
    content: url(../../media/churchplus/its_md_6.webp);
  }
}
@media (min-width: 1025px) {
  .churchplus .its-img-6 {
    content: url(../../media/churchplus/its_lg_6.webp);
  }
}
@media (min-width: 1200px) {
  .churchplus .its-img-6 {
    content: url(../../media/churchplus/its_xl_6.webp);
  }
}

@media (min-width: 577px) {
  .churchplus .its-img-7 {
    content: url(../../media/churchplus/its_md_7.webp);
  }
}
@media (min-width: 1025px) {
  .churchplus .its-img-7 {
    content: url(../../media/churchplus/its_lg_7.webp);
  }
}
@media (min-width: 1200px) {
  .churchplus .its-img-7 {
    content: url(../../media/churchplus/its_xl_7.webp);
  }
}

@media (min-width: 577px) {
  .churchplus .its-img-8 {
    content: url(../../media/churchplus/its_md_8.webp);
  }
}
@media (min-width: 1025px) {
  .churchplus .its-img-8 {
    content: url(../../media/churchplus/its_lg_8.webp);
  }
}
@media (min-width: 1200px) {
  .churchplus .its-img-8 {
    content: url(../../media/churchplus/its_xl_8.webp);
  }
}

@media (min-width: 577px) {
  .churchplus .its-img-9 {
    content: url(../../media/churchplus/its_md_9.webp);
  }
}
@media (min-width: 1025px) {
  .churchplus .its-img-9 {
    content: url(../../media/churchplus/its_lg_9.webp);
  }
}
@media (min-width: 1200px) {
  .churchplus .its-img-9 {
    content: url(../../media/churchplus/its_xl_9.webp);
  }
}

@media (min-width: 577px) {
  .churchplus .its-img-10 {
    content: url(../../media/churchplus/its_md_10.webp);
  }
}
@media (min-width: 1025px) {
  .churchplus .its-img-10 {
    content: url(../../media/churchplus/its_lg_10.webp);
  }
}
@media (min-width: 1200px) {
  .churchplus .its-img-10 {
    content: url(../../media/churchplus/its_xl_10.webp);
  }
}

@media (min-width: 577px) {
  .churchplus .its-img-11 {
    content: url(../../media/churchplus/its_md_11.webp);
  }
}
@media (min-width: 1025px) {
  .churchplus .its-img-11 {
    content: url(../../media/churchplus/its_lg_11.webp);
  }
}
@media (min-width: 1200px) {
  .churchplus .its-img-11 {
    content: url(../../media/churchplus/its_xl_11.webp);
  }
}

@media (min-width: 577px) {
  .churchplus .its-img-12 {
    content: url(../../media/churchplus/its_md_12.webp);
  }
}
@media (min-width: 1025px) {
  .churchplus .its-img-12 {
    content: url(../../media/churchplus/its_lg_12.webp);
  }
}
@media (min-width: 1200px) {
  .churchplus .its-img-12 {
    content: url(../../media/churchplus/its_xl_12.webp);
  }
}

@media (min-width: 577px) {
  .churchplus .its-img-13 {
    content: url(../../media/churchplus/its_md_13.webp);
  }
}
@media (min-width: 1025px) {
  .churchplus .its-img-13 {
    content: url(../../media/churchplus/its_lg_13.webp);
  }
}
@media (min-width: 1200px) {
  .churchplus .its-img-13 {
    content: url(../../media/churchplus/its_xl_13.webp);
  }
}

@media (min-width: 577px) {
  .churchplus .dsys-img-1 {
    content: url(../../media/churchplus/dsys_md_1.webp);
  }
}
@media (min-width: 1025px) {
  .churchplus .dsys-img-1 {
    content: url(../../media/churchplus/dsys_lg_1.webp);
  }
}
@media (min-width: 1200px) {
  .churchplus .dsys-img-1 {
    content: url(../../media/churchplus/dsys_xl_1.webp);
  }
}

@media (min-width: 577px) {
  .churchplus .dsys-img-2 {
    content: url(../../media/churchplus/dsys_md_2.webp);
  }
}
@media (min-width: 1025px) {
  .churchplus .dsys-img-2 {
    content: url(../../media/churchplus/dsys_lg_2.webp);
  }
}
@media (min-width: 1200px) {
  .churchplus .dsys-img-2 {
    content: url(../../media/churchplus/dsys_xl_2.webp);
  }
}

@media (min-width: 577px) {
  .churchplus .dsys-img-3 {
    content: url(../../media/churchplus/dsys_md_3.webp);
  }
}
@media (min-width: 1025px) {
  .churchplus .dsys-img-3 {
    content: url(../../media/churchplus/dsys_lg_3.webp);
  }
}
@media (min-width: 1200px) {
  .churchplus .dsys-img-3 {
    content: url(../../media/churchplus/dsys_xl_3.webp);
  }
}

@media (min-width: 577px) {
  .churchplus .dsys-img-4 {
    content: url(../../media/churchplus/dsys_md_4.webp);
  }
}
@media (min-width: 1025px) {
  .churchplus .dsys-img-4 {
    content: url(../../media/churchplus/dsys_lg_4.webp);
  }
}
@media (min-width: 1200px) {
  .churchplus .dsys-img-4 {
    content: url(../../media/churchplus/dsys_xl_4.webp);
  }
}

@media (min-width: 577px) {
  .churchplus .fsrc-img {
    content: url(../../media/churchplus/fsrc_md.webp);
  }
}
@media (min-width: 1025px) {
  .churchplus .fsrc-img {
    content: url(../../media/churchplus/fsrc_lg.webp);
  }
}
@media (min-width: 1200px) {
  .churchplus .fsrc-img {
    content: url(../../media/churchplus/fsrc_xl.webp);
  }
}

@media (min-width: 577px) {
  .tcoc .ogp-1 {
    content: url(../../media/tcoc/og_md_1.webp);
  }
}
@media (min-width: 1025px) {
  .tcoc .ogp-1 {
    content: url(../../media/tcoc/og_lg_1.webp);
  }
}
@media (min-width: 1200px) {
  .tcoc .ogp-1 {
    content: url(../../media/tcoc/og_xl_1.webp);
  }
}

@media (min-width: 577px) {
  .tcoc .ogp-2 {
    content: url(../../media/tcoc/og_md_2.webp);
  }
}
@media (min-width: 1025px) {
  .tcoc .ogp-2 {
    content: url(../../media/tcoc/og_lg_2.webp);
  }
}
@media (min-width: 1200px) {
  .tcoc .ogp-2 {
    content: url(../../media/tcoc/og_xl_2.webp);
  }
}

@media (min-width: 577px) {
  .tcoc .ogp-3 {
    content: url(../../media/tcoc/og_md_3.webp);
  }
}
@media (min-width: 1025px) {
  .tcoc .ogp-3 {
    content: url(../../media/tcoc/og_lg_3.webp);
  }
}
@media (min-width: 1200px) {
  .tcoc .ogp-3 {
    content: url(../../media/tcoc/og_xl_3.webp);
  }
}

@media (min-width: 577px) {
  .tcoc .uxs-img-1 {
    content: url(../../media/tcoc/uxs_md_1.webp);
  }
}
@media (min-width: 1025px) {
  .tcoc .uxs-img-1 {
    content: url(../../media/tcoc/uxs_lg_1.webp);
  }
}
@media (min-width: 1200px) {
  .tcoc .uxs-img-1 {
    content: url(../../media/tcoc/uxs_xl_1.webp);
  }
}

@media (min-width: 577px) {
  .tcoc .uxs-img-2 {
    content: url(../../media/tcoc/uxs_md_2.webp);
  }
}
@media (min-width: 1025px) {
  .tcoc .uxs-img-2 {
    content: url(../../media/tcoc/uxs_lg_2.webp);
  }
}
@media (min-width: 1200px) {
  .tcoc .uxs-img-2 {
    content: url(../../media/tcoc/uxs_xl_2.webp);
  }
}

@media (min-width: 577px) {
  .tcoc .uxs-img-3 {
    content: url(../../media/tcoc/uxs_md_3.webp);
  }
}
@media (min-width: 1025px) {
  .tcoc .uxs-img-3 {
    content: url(../../media/tcoc/uxs_lg_3.webp);
  }
}
@media (min-width: 1200px) {
  .tcoc .uxs-img-3 {
    content: url(../../media/tcoc/uxs_xl_3.webp);
  }
}

@media (min-width: 577px) {
  .tcoc .uxs-img-4 {
    content: url(../../media/tcoc/uxs_md_4.webp);
  }
}
@media (min-width: 1025px) {
  .tcoc .uxs-img-4 {
    content: url(../../media/tcoc/uxs_lg_4.webp);
  }
}
@media (min-width: 1200px) {
  .tcoc .uxs-img-4 {
    content: url(../../media/tcoc/uxs_xl_4.webp);
  }
}

@media (min-width: 577px) {
  .tcoc .uxs-img-5 {
    content: url(../../media/tcoc/uxs_md_5.webp);
  }
}
@media (min-width: 1025px) {
  .tcoc .uxs-img-5 {
    content: url(../../media/tcoc/uxs_lg_5.webp);
  }
}
@media (min-width: 1200px) {
  .tcoc .uxs-img-5 {
    content: url(../../media/tcoc/uxs_xl_5.webp);
  }
}

@media (min-width: 577px) {
  .tcoc .dss-img-1 {
    content: url(../../media/tcoc/dss_md_1.webp);
  }
}
@media (min-width: 1025px) {
  .tcoc .dss-img-1 {
    content: url(../../media/tcoc/dss_lg_1.webp);
  }
}
@media (min-width: 1200px) {
  .tcoc .dss-img-1 {
    content: url(../../media/tcoc/dss_lg_1.webp);
  }
}

@media (min-width: 577px) {
  .tcoc .dss-img-2 {
    content: url(../../media/tcoc/dss_md_2.webp);
  }
}
@media (min-width: 1025px) {
  .tcoc .dss-img-2 {
    content: url(../../media/tcoc/dss_lg_2.webp);
  }
}
@media (min-width: 1200px) {
  .tcoc .dss-img-2 {
    content: url(../../media/tcoc/dss_lg_2.webp);
  }
}

@media (min-width: 577px) {
  .tcoc .dss-img-3 {
    content: url(../../media/tcoc/dss_md_3.webp);
  }
}
@media (min-width: 1025px) {
  .tcoc .dss-img-3 {
    content: url(../../media/tcoc/dss_lg_3.webp);
  }
}
@media (min-width: 1200px) {
  .tcoc .dss-img-3 {
    content: url(../../media/tcoc/dss_lg_3.webp);
  }
}

@media (min-width: 577px) {
  .tcoc .its-img-1 {
    content: url(../../media/tcoc/its_md_1.webp);
  }
}
@media (min-width: 1025px) {
  .tcoc .its-img-1 {
    content: url(../../media/tcoc/its_lg_1.webp);
  }
}
@media (min-width: 1200px) {
  .tcoc .its-img-1 {
    content: url(../../media/tcoc/its_xl_1.webp);
  }
}

@media (min-width: 577px) {
  .tcoc .its-img-2 {
    content: url(../../media/tcoc/its_md_2.webp);
  }
}
@media (min-width: 1025px) {
  .tcoc .its-img-2 {
    content: url(../../media/tcoc/its_lg_2.webp);
  }
}
@media (min-width: 1200px) {
  .tcoc .its-img-2 {
    content: url(../../media/tcoc/its_xl_2.webp);
  }
}

@media (min-width: 577px) {
  .tcoc .its-img-3 {
    content: url(../../media/tcoc/its_md_3.webp);
  }
}
@media (min-width: 1025px) {
  .tcoc .its-img-3 {
    content: url(../../media/tcoc/its_lg_3.webp);
  }
}
@media (min-width: 1200px) {
  .tcoc .its-img-3 {
    content: url(../../media/tcoc/its_xl_3.webp);
  }
}

@media (min-width: 577px) {
  .tcoc .its-img-4 {
    content: url(../../media/tcoc/its_md_4.webp);
  }
}
@media (min-width: 1025px) {
  .tcoc .its-img-4 {
    content: url(../../media/tcoc/its_lg_4.webp);
  }
}
@media (min-width: 1200px) {
  .tcoc .its-img-4 {
    content: url(../../media/tcoc/its_xl_4.webp);
  }
}

@media (min-width: 577px) {
  .tcoc .its-img-5 {
    content: url(../../media/tcoc/its_md_5.webp);
  }
}
@media (min-width: 1025px) {
  .tcoc .its-img-5 {
    content: url(../../media/tcoc/its_lg_5.webp);
  }
}
@media (min-width: 1200px) {
  .tcoc .its-img-5 {
    content: url(../../media/tcoc/its_xl_5.webp);
  }
}

@media (min-width: 577px) {
  .tcoc .its-img-6 {
    content: url(../../media/tcoc/its_md_6.webp);
  }
}
@media (min-width: 1025px) {
  .tcoc .its-img-6 {
    content: url(../../media/tcoc/its_lg_6.webp);
  }
}
@media (min-width: 1200px) {
  .tcoc .its-img-6 {
    content: url(../../media/tcoc/its_xl_6.webp);
  }
}

@media (min-width: 577px) {
  .tcoc .its-img-7 {
    content: url(../../media/tcoc/its_md_7.webp);
  }
}
@media (min-width: 1025px) {
  .tcoc .its-img-7 {
    content: url(../../media/tcoc/its_lg_7.webp);
  }
}
@media (min-width: 1200px) {
  .tcoc .its-img-7 {
    content: url(../../media/tcoc/its_xl_7.webp);
  }
}

@media (min-width: 577px) {
  .tcoc .its-img-8 {
    content: url(../../media/tcoc/its_md_8.webp);
  }
}
@media (min-width: 1025px) {
  .tcoc .its-img-8 {
    content: url(../../media/tcoc/its_lg_8.webp);
  }
}
@media (min-width: 1200px) {
  .tcoc .its-img-8 {
    content: url(../../media/tcoc/its_xl_8.webp);
  }
}

@media (min-width: 577px) {
  .tcoc .its-img-9 {
    content: url(../../media/tcoc/its_md_9.webp);
  }
}
@media (min-width: 1025px) {
  .tcoc .its-img-9 {
    content: url(../../media/tcoc/its_lg_9.webp);
  }
}
@media (min-width: 1200px) {
  .tcoc .its-img-9 {
    content: url(../../media/tcoc/its_xl_9.webp);
  }
}

@media (min-width: 577px) {
  .tcoc .its-img-10 {
    content: url(../../media/tcoc/its_md_10.webp);
  }
}
@media (min-width: 1025px) {
  .tcoc .its-img-10 {
    content: url(../../media/tcoc/its_lg_10.webp);
  }
}
@media (min-width: 1200px) {
  .tcoc .its-img-10 {
    content: url(../../media/tcoc/its_xl_10.webp);
  }
}

@media (min-width: 577px) {
  .tcoc .its-img-11 {
    content: url(../../media/tcoc/its_md_11.webp);
  }
}
@media (min-width: 1025px) {
  .tcoc .its-img-11 {
    content: url(../../media/tcoc/its_lg_11.webp);
  }
}
@media (min-width: 1200px) {
  .tcoc .its-img-11 {
    content: url(../../media/tcoc/its_xl_11.webp);
  }
}

@media (min-width: 577px) {
  .tcoc .its-img-12 {
    content: url(../../media/tcoc/its_md_12.webp);
  }
}
@media (min-width: 1025px) {
  .tcoc .its-img-12 {
    content: url(../../media/tcoc/its_lg_12.webp);
  }
}
@media (min-width: 1200px) {
  .tcoc .its-img-12 {
    content: url(../../media/tcoc/its_xl_12.webp);
  }
}

@media (min-width: 577px) {
  .tcoc .its-img-13 {
    content: url(../../media/tcoc/its_md_13.webp);
  }
}
@media (min-width: 1025px) {
  .tcoc .its-img-13 {
    content: url(../../media/tcoc/its_lg_13.webp);
  }
}
@media (min-width: 1200px) {
  .tcoc .its-img-13 {
    content: url(../../media/tcoc/its_xl_13.webp);
  }
}

@media (min-width: 577px) {
  .tcoc .dsys-img-1 {
    content: url(../../media/tcoc/dsys_md_1.webp);
  }
}
@media (min-width: 1025px) {
  .tcoc .dsys-img-1 {
    content: url(../../media/tcoc/dsys_lg_1.webp);
  }
}
@media (min-width: 1200px) {
  .tcoc .dsys-img-1 {
    content: url(../../media/tcoc/dsys_xl_1.webp);
  }
}

@media (min-width: 577px) {
  .tcoc .dsys-img-2 {
    content: url(../../media/tcoc/dsys_md_2.webp);
  }
}
@media (min-width: 1025px) {
  .tcoc .dsys-img-2 {
    content: url(../../media/tcoc/dsys_lg_2.webp);
  }
}
@media (min-width: 1200px) {
  .tcoc .dsys-img-2 {
    content: url(../../media/tcoc/dsys_xl_2.webp);
  }
}

@media (min-width: 577px) {
  .tcoc .dsys-img-3 {
    content: url(../../media/tcoc/dsys_md_3.webp);
  }
}
@media (min-width: 1025px) {
  .tcoc .dsys-img-3 {
    content: url(../../media/tcoc/dsys_lg_3.webp);
  }
}
@media (min-width: 1200px) {
  .tcoc .dsys-img-3 {
    content: url(../../media/tcoc/dsys_xl_3.webp);
  }
}

@media (min-width: 577px) {
  .tcoc .dsys-img-4 {
    content: url(../../media/tcoc/dsys_md_4.webp);
  }
}
@media (min-width: 1025px) {
  .tcoc .dsys-img-4 {
    content: url(../../media/tcoc/dsys_lg_4.webp);
  }
}
@media (min-width: 1200px) {
  .tcoc .dsys-img-4 {
    content: url(../../media/tcoc/dsys_xl_4.webp);
  }
}

@media (min-width: 577px) {
  .tcoc .fsrc-img {
    content: url(../../media/tcoc/fsrc_md.webp);
  }
}
@media (min-width: 1025px) {
  .tcoc .fsrc-img {
    content: url(../../media/tcoc/fsrc_lg.webp);
  }
}
@media (min-width: 1200px) {
  .tcoc .fsrc-img {
    content: url(../../media/tcoc/fsrc_xl.webp);
  }
}

/*# sourceMappingURL=case-details-img.css.map */
